<div>
  <ak-messaging class="message" ref="forgot-password"></ak-messaging>
   <div>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="submitForm(forgotPasswordForm.value)">
      <div>
        Enter the email address associated with your account, and we’ll email you a link to reset your password.
      </div>
      <div class="form-input form-input--has-icon sign-up-field">
        <div class="form-icon ak-icon-mail"></div>
        <input
          type="email"
          placeholder="Email"
          required
          formControlName="email"
          id="email">
      </div>
      <ak-form-messages [control]="forgotPasswordForm.controls.email">
      </ak-form-messages>

      <button type="submit" class="sign-up-button">
        Send Reset Link
      </button>
    </form>
  </div>
</div>
