@import '../../../scss/core/variables';

//
// Forgot password form | Located on the Modal Container/ forgot password page
// --------------------------------------------------

$modal-width: 450px;
$modal-padding: 50px;

.message {
  display: block;
  margin-right: -2.5px;
  margin-left: -2.5%;
}

.sign-up-button {
  min-width: $modal-width - ($modal-padding * 2);
  width: 100%;
  color: #fff;
  background: $brand-primary-cta;
  display: inline-block;
  text-align: center;
  border-radius: $brand-border-radius;
  padding: ($padding-large-vertical * 2) 0;
  margin: $padding-large-vertical 0;
  transition: all .2s ease-out;

  @media (max-width: $screen-xs-max) {
    width: 96%;
    min-width: 96%;
    margin: ($padding-large-vertical * 2) 2%;
  }
}

.sign-up-field {
  margin: $padding-xlarge-vertical 0;
}

