<article>

  <section class="pricing" *ngIf="!isPaid">
    <header class="[ container ]">

      <div class="[ row ]">
        <div class="[ col-xs-12 col-sm-4 ]">
          <a *ngIf="isEditing" class="hero__return-editing" [routerLink]="['/list-with-us/create-listing/step-4']">
            <span class="ak-icon-chevron-thin-left">
            </span> Edit Details
          </a>
        </div>
        <div class="[ col-xs-12 col-sm-4 ]">
          <h2 class="[ text-center ]">Introductory Offer</h2>
        </div>
      </div>

      <div class="[ row ]">
        <div class="[ col-md-2 col-sm-1 hidden-xs ]"></div>
        <div class="[ col-md-8 col-sm-10 col-xs-12 ]">
          <!-- Price Plans -->
          <div class="price-plans">

            <!-- 1 month plan -->
            <div class="plan-box plan-box--monthly">
              <div class="plan-options">
                <div class="plan-options-heading">
                  <div class="plan-options-heading--title">
                    Billed every
                  </div>
                  <div class="plan-options-heading--term">
                    month
                  </div>
                </div>
                <div class="plan-price">
                  <span class="plan-price--currency">
                    &euro;
                  </span>
                  25
                </div>
                <div class="plan-term">
                  per month
                </div>
                <a class="button" (click)="openCheckout(1)">Choose</a>
              </div>
            </div>
            <!-- / 1 month plan -->

            <!-- 1 year plan -->
            <div class="plan-box plan-box--annual">
              <div class="plan-options">
                <div class="recommended-plan">
                  <span class="ak-icon-star-full"></span>
                  <span class="ak-icon-star-full"></span>
                  <span class="ak-icon-star-full"></span>
                  <span class="ak-icon-star-full"></span>
                  <span class="ak-icon-star-full"></span>
                </div>
                <div class="plan-options-heading">
                  <div class="plan-options-heading--title">
                    Billed every
                  </div>
                  <div class="plan-options-heading--term">
                    year
                  </div>
                </div>
                <div class="plan-price">
                  <span class="plan-price--currency">
                    &euro;
                  </span>
                  17
                </div>
                <div class="plan-term">
                  per month
                </div>
                <div class="plan-savings">
                  Save 15%
                </div>
                <a class="button" (click)="openCheckout(2)">Choose</a>
              </div>
            </div>
            <!-- / 1 year plan -->

            <!-- 6 month plan -->
            <div class="plan-box plan-box--biannual">
              <div class="plan-options">
                <div class="plan-options-heading">
                  <div class="plan-options-heading--title">
                    Billed every
                  </div>
                  <div class="plan-options-heading--term">
                    quarter
                  </div>
                </div>
                <div class="plan-price">
                  <span class="plan-price--currency">
                    &euro;
                  </span>
                  20
                </div>
                <div class="plan-term">
                  per month
                </div>
                <div class="plan-savings">
                  Save 17%
                </div>
                <a class="button" (click)="openCheckout(3)">Choose</a>
              </div>
            </div>
            <!-- / 6 month plan -->

          </div>
          <!-- / Price Plans -->
        </div>

        <div class="[ col-md-2 col-sm-1 hidden-xs ]"></div>

      </div>
      <!-- / Row -->

      <div class="[ row text-center ]">
        <div class="[ col-xs-12 ]">
          <p class="payment-details">
            Payments are processed securely through <a href="https://stripe.com/" target="_blank">Stripe</a>.
            We will <em>never</em> record your payment card details.<br /><br />
            Introductory offer rates last until we reach a critical mass of vendors to enable the <a [routerLink]="['/catering-jobs']" target="_blank">tendering features</a>.<br />
            Early adopters at the introductory rate will remain on this tariff.
          </p>
        </div>
      </div>

    </header>
    <!-- / Container -->
  </section>

  <section *ngIf="isPaid" class="[ container ]">

    <div class="[ row ]">
      <div class="[ col-md-2 col-sm-1 hidden-xs ]"></div>
      <div class="[ col-md-8 col-sm-10 col-xs-12 ]">
        <div class="icon-holder">
          <div class="trigger" #tickAnimation></div>
          <svg class="complete-icon" version="1.1" id="tick" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 37 37" style="enable-background:new 0 0 37 37;" xml:space="preserve">
          <path class="circ path" style="fill:none;;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;" d="
            M30.5,6.5L30.5,6.5c6.6,6.6,6.6,17.4,0,24l0,0c-6.6,6.6-17.4,6.6-24,0l0,0c-6.6-6.6-6.6-17.4,0-24l0,0C13.1-0.2,23.9-0.2,30.5,6.5z"
            />
          <polyline class="tick path" style="fill:none;;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;" points="
            11.6,20 15.9,24.2 26.4,13.8 "/>
          </svg>
        </div> <!-- Icon Holder -->
      </div>
    </div>
    <div class="[ row ]">
      <div class="[ col-xs-12 ]">
        <h2 class="congrats [ text-center ]">Congrats! Your listing is now live</h2>
      </div>
    </div>
    <div class="[ row ]">
      <div class="[ col-xs-12 ]">
        <p class="[ text-center ]">
          <a [routerLink]="['/vendor/' + vendorId]">View your listing</a>
        </p>
      </div>
    </div>

  </section>

</article>
