<!-- Header -->
<div class="header">
  <div class="[ container ]">
    <div class="[ row ]">

      <div class="[ hidden visible-xs visible-sm col-xs-4 ]">
        <mobile-navmenu>
        </mobile-navmenu>
      </div>

      <div class="[ hidden-xs hidden-sm col-md-5 ]">
        <a class="header__action" [routerLink]="['/commercial']">Markets</a>
        <a class="header__action" [routerLink]="['/commercial']">Festivals</a>
        <a class="header__action" [routerLink]="['/commercial']">Catering Jobs</a>
      </div>

      <div class="header__logo [ col-xs-4 col-md-2 text-center ]">
        <a class="svg" [routerLink]="['/']">
          <img src="./assets/img/logo.png" />
        </a>
      </div>

      <div class="[ col-xs-4 col-md-5 text-right ]">
        <a class="header__action header__action--right [ hidden-xs hidden-sm ]" [routerLink]="['/search-results']">
          Browse Vendors
        </a>
        <account-meta>
        </account-meta>
      </div>

    </div>
  </div>
</div>
<!-- / Header -->

