@import '../../../scss/core/variables';
@import '../../../scss/mixins/buttons';

//
// Header
// --------------------------------------------------

$header-height: 80px;

.header {
  width: 100%;
  height: $header-height;
  background: $brand-primary;
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 98;

  &__logo {
    text-align: center;

    @media (max-width: $screen-xs-max) {
      position: relative;
      left: -3%;          // override the grid slightly
      margin: 0;
      padding: 0;
    }

    object, img {
      max-height: $header-height * 0.9;
      margin-top: 3px;
      max-width: 260px;
      @media (max-width: $screen-xs-max) {
        max-height: $header-height * 0.75;
        margin-top: 12px;
      }
    }

    @media (min-width: $screen-sm-min) {
      text-align: left;
    }

  }

  &__actions-section {
    float: right;
  }

  &__primary-cta {
    @include button(#fff, $brand-primary-cta);

    margin-top: 18px;
    padding: 10px 20px;
    float: left;

    font-size: 18px;
    font-weight: $font-weight-light;

    @media (max-width: $screen-xs-max) {
      font-size: 16px;
      padding: 10px 5px;
      margin-top: 20px;
    }
  }
}
