<!-- Facebook Address -->
<div class="form-row [ row ]">
  <div class="[ col-sm-6 col-xs-12 ]">
    <label class="form-label">Facebook Address</label>
    <div class="form-input form-input--has-icon sign-up-field">
      <div class="form-icon ak-icon-facebook"></div>
      <input type="text"
        placeholder="e.g. www.facebook.com/DomhnaillsDonuts"
        required />
    </div>
  </div>
  <div class="[ col-sm-6 col-xs-12 hidden-xs ]">
    <div class="form-field-description">
      Don't worry if you don't have this information to hand - you can always add it later
    </div>
  </div>
</div>
<!-- / Facebook Address -->

<!-- Twitter Address -->
<div class="form-row [ row ]">
  <div class="[ col-sm-6 col-xs-12 ]">
    <label class="form-label">Twitter Address</label>
    <div class="form-input form-input--has-icon sign-up-field">
      <div class="form-icon ak-icon-twitter"></div>
      <input type="text"
        placeholder="e.g. www.twitter.com/DomhnaillsDonuts"
        required />
    </div>
  </div>
</div>
<!-- / Twitter Address -->

<!-- Instagram Address -->
<div class="form-row [ row ]">
  <div class="[ col-sm-6 col-xs-12 ]">
    <label class="form-label">Instagram Address</label>
    <div class="form-input form-input--has-icon sign-up-field">
      <div class="form-icon ak-icon-instagram"></div>
      <input type="text"
        placeholder="e.g. www.instagram.com/DomhnaillsDonuts"
        required />
    </div>
  </div>
</div>
<!-- / Instagram Address -->

<!-- Mandatory Fields -->
<div class="form-row [ row ]">
  <div class="[ col-xs-12 ]">
    <span class="form-mandatory">* denotes mandatory field</span>
  </div>
</div>
<!-- / Mandatory Fields -->

<!-- Form Buttons -->
<div class="form-row [ row ]">
  <div class="[ col-xs-12 text-right ]">
    <button class="form-btn-cta" (click)="previousStep()">Previous step</button>
    <button class="form-btn-cta" (click)="nextStep()">Next step</button>
  </div>
</div>
<!-- / Form Buttons -->
