<!-- Nav Menu : TODO - separate out -->
<div>
  <div id="menu-button" role="button" title="sweet hamburger" (click)="toggleMenu()">
    <div class="hamburger"><div class="inner"></div></div>
  </div>
  <div id="menu-content">
    <ul class="menu-links">
      <li [routerLink]="['/']">
        Home
      </li>
      <li (click)="showSignUp()"
        *ngIf="!loggedIn">
        Sign up
      </li>
      <li (click)="showSignIn()"
        *ngIf="!loggedIn">
        Login
      </li>
      <li [routerLink]="['/']"
        *ngIf="loggedIn">
        Dashboard
      </li>
      <li [routerLink]="['/']"
        *ngIf="loggedIn">
        Profile
      </li>
      <li [routerLink]="['/']"
        *ngIf="loggedIn">
        My Listing
      </li>
      <li [routerLink]="['/']"
        *ngIf="loggedIn">
        Messages
      </li>
      <li [routerLink]="['/']"
        *ngIf="loggedIn">
        Saved Ads
      </li>
      <li (click)="logout()"
        *ngIf="loggedIn">
        Logout
      </li>
      <hr />
      <li [routerLink]="['/help']">
        Help
      </li>
    </ul>
  </div>
</div>
<!-- /Nav Menu -->
