<!-- Nav Menu : TODO - separate out -->
<div>
  <div id="menu-button" role="button" title="sweet hamburger" (click)="toggleMenu()">
    <div class="hamburger"><div class="inner"></div></div>
  </div>
  <div id="menu-content">
    <ul class="menu-links">
      <li [routerLink]="['/']">
        Home
      </li>
      <li [routerLink]="['/signup']"
        *ngIf="!loggedIn">
        Sign up
      </li>
      <li [routerLink]="['/signin']"
        *ngIf="!loggedIn">
        Login
      </li>
      <li [routerLink]="['/list-with-us']">
        List with us
      </li>
      <li [routerLink]="['/commercial']">
        Commercial events
      </li>
      <!-- TODO: not in phase 1
      <li [routerLink]="['/']"
        *ngIf="loggedIn">
        Dashboard
      </li> -->
      <li [routerLink]="['/dashboard/profile']"
        *ngIf="loggedIn">
        My Profile
      </li>
      <li [ngClass]="!isVendor ? 'hidden' : ''" [routerLink]="['/dashboard/listings']"
        *ngIf="loggedIn">
        My Listings
      </li>
      <li [routerLink]="['/dashboard/inbox']"
        *ngIf="loggedIn">
        Messages
      </li>
      <li [routerLink]="['/dashboard/favourites']"
        *ngIf="loggedIn">
        Favourites
      </li>
      <li (click)="logout()"
        *ngIf="loggedIn">
        Logout
      </li>
      <hr />
      <li [routerLink]="['/help']">
        Help
      </li>
    </ul>
  </div>
</div>
<!-- /Nav Menu -->
