<!-- Nav Menu : TODO - separate out -->
<div>
  <div id="menu-button" role="button" (click)="toggleMenu()">
    <div *ngIf="notificationsNum > 0" class="hamburger__notification">{{notificationsNum}}</div>
    <div class="hamburger"><div class="inner"></div></div>
  </div>
  <div id="menu-content">
    <ul class="menu-links">
      <li [routerLink]="['/']" (click)="toggleMenu()">
        Home
      </li>
      <li [routerLink]="['/search-results']" (click)="toggleMenu()">
        Browse Vendors
      </li>
      <li [routerLink]="['/signup']" (click)="toggleMenu()"
        *ngIf="!loggedIn">
        Sign up
      </li>
      <li [routerLink]="['/signin']" (click)="toggleMenu()"
        *ngIf="!loggedIn">
        Login
      </li>
      <li [routerLink]="['/list-with-us']" (click)="toggleMenu()">
        List with us
      </li>
      <li [routerLink]="['/markets']" (click)="toggleMenu()">
        Markets
      </li>
      <li [routerLink]="['/commercial']" (click)="toggleMenu()">
        Festivals
      </li>
      <li [routerLink]="['/catering-jobs']" (click)="toggleMenu()">
        Catering jobs
      </li>
      <hr />
      <li [routerLink]="['/dashboard/profile']" (click)="toggleMenu()"
        *ngIf="loggedIn && isPhone">
        My Profile
      </li>
      <li [ngClass]="!isVendor ? 'hidden' : ''" [routerLink]="['/dashboard/listings']"
        (click)="toggleMenu()"
        *ngIf="loggedIn && isPhone">
        My Listings
        <div *ngIf="notifications?.listing > 0" class="hamburger__notification link">{{notifications.listing}}</div>
      </li>
      <li [routerLink]="['/dashboard/inbox']" (click)="toggleMenu()"
        *ngIf="loggedIn && isPhone">
        Messages
        <div *ngIf="notifications?.message > 0" class="hamburger__notification link">{{notifications.message}}</div>
      </li>
      <li [routerLink]="['/dashboard/favourites']" (click)="toggleMenu()"
        *ngIf="loggedIn && isPhone">
        Favourites
      </li>
      <li (click)="logout()" (click)="toggleMenu()"
        *ngIf="loggedIn && isPhone">
        Logout
      </li>
      <hr />
      <li [routerLink]="['/help']" (click)="toggleMenu()"
        *ngIf="isPhone">
        Help
      </li>
    </ul>
  </div>
</div>
<!-- /Nav Menu -->
