@import '../../../scss/core/settings';
@import '../../../scss/core/variables';

.card-list__card {
  margin-bottom: 30px;
}

.card-empty {
  color: $brand-secondary;
  font-size: $font-size-large;
  padding: 50px;
  text-align: center;
}
