@import '../../scss/core/variables';
@import '../../scss/core/settings';

.side-menu {
  height: 100vh;
  background-color: $brand-primary;
  text-align: center;
  width: 70px;
  float: left;

  &-link {
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    color: $brand-body-bg;
    padding-left: 4px;

    &:hover {
      background-color: darken($brand-primary, 5%);
    }

    &.active {
      padding-left: 0px;
      border-left: 4px solid $brand-secondary;
      background-color: darken($brand-primary, 20%);
    }
  }

  &-text {
    font-size: $font-size-smallest;
  }

  &-icon {
    font-size: 28px;
    padding-bottom: 5px;
  }

}

.dashboard-content {
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: $screen-sm-min) {
    margin-left: 85px;
  }

  @media (min-width: $screen-sm-min) {
    padding-left: 0px;
    padding-right: 0px;
  }

}
