<!-- Progress Bar -->
<div class="progress-bar"
  [ngClass]="{
    'progress-bar--step-1': currentStep == 1,
    'progress-bar--step-2': currentStep == 2
  }">
  <div class="[ container ]">
    <div class="[ row-xs-12 ]">
      <div class="progress-bar__step">
        Step {{ currentStep }}:
      </div>
      <div class="progress-bar__description">
        <span *ngIf="currentStep == 1">Market Details</span>
        <span *ngIf="currentStep == 2">Contact Details</span>
      </div>
    </div>
  </div>
</div>
<!-- / Progress Bar -->

<div class="create-market-msg">
  <ak-messaging ref="create-market">
  </ak-messaging>
</div>

<div class="form-card card [ container ]">
  <!-- Form steps are rendered here -->
  <router-outlet>
  </router-outlet>
  <!-- / Form steps -->

</div>


