@import '../../scss/core/variables';
@import '../../scss/mixins/buttons';

$block-height: 400px;

.hero {
  background-image: url('../assets/img/catering-jobs-hero.jpg');
  background-size: cover;
  background-position: center bottom;
  position: relative;
  width: 100%;

  height: -o-calc(100vh - 80px);      /* opera */
  height: -webkit-calc(100vh - 80px); /* google, safari */
  height: -moz-calc(100vh - 80px);    /* firefox */
  height: calc(100vh - 80px);

  @media(max-width: $screen-sm-max) {
    height: 450px;
  }

  padding-top: 5%;

  &__title {
    width: 60%;
    margin: 0 auto;
    text-align: center;

    @media (max-width: $screen-sm-max) {
      width: 70%;
    }

    @media (max-width: $screen-xs-max) {
      width: 80%;
    }
  }

  &__browse-button {
    margin-top: 16px;
    @include button(#fff, #ff8da1);
    font-weight: 400;
  }

  h1 {
    color: $brand-secondary;
  }

  h2 {
    color: darken($brand-secondary, 20%);
    font-size: 22px;
    padding-top: $padding-large-vertical;
  }
}

.desriptive-section {
  height: 400px;
  width: 100%;
  background-image: url('../assets/img/event-planning.jpeg');
  background-size: cover;
  background-position: center bottom;
  position: relative;
  overflow: hidden;

  .overlay {
    background: $brand-overlay-pattern;
    padding: $padding-xlarge-vertical 0;
    width: 100%;
    height: 100%;
  }
}

@media(max-width: $screen-sm) {
  .desriptive-section {
    padding-top:2em;
    margin-bottom: 2.5em
  }
}

.desriptive-section__steps {
  text-align: left;
}

@media(max-width: $screen-sm) {
  .desriptive-section__steps {
    margin-bottom:1em;
  }
}

.desriptive-section__steps p {
  margin-bottom: 0;
}

@media(max-width: $screen-sm) {
  .desriptive-section__steps p {
    margin-bottom: 1.1666666667em;
  }
}

.overlay {
  background: $brand-overlay-pattern;
  padding: $padding-xlarge-vertical 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.reasons-row {

  &__text {
    min-height: $block-height;
    padding-top: 50px;
  }

  &__image {
    min-height: $block-height;

    &--events {
      background: url('assets/img/list1.jpg');
    }

    &--connect {
      background: url('assets/img/list2.jpg');
    }
  }

}
