<article>

  <header class="hero">
    <div class="hero__title">
      <h1>Stress-free party and wedding planning</h1>
      <h2>
        Create your own tenders and request applications from
        our partner vendors
      </h2>
      <button class="hero__browse-button" (click)="onClickContactUs()">
        Launching soon. Enquire here <span class="ak-icon-happy"></span>
      </button>
    </div>
  </header>

  <section>
    <div class="reasons-row [ row ]">
      <div class="reasons-row__text [ col-sm-6 col-xs-12 text-center ]">
        <h2 class="heading heading--medium">
          <div class="heading__icon-holder">
            <object class="heading__icon" data="assets/icons/svg/calendar.svg" type="image/svg+xml">
              <img src="assets/icons/img/calendar.png" />
            </object>
          </div>
          <span title="Discover those organising corporate events, festivals, concerts, parties and weddings in Ireland and apply for contracts" class="header-link">
            Discover available events
          </span>
        </h2>
          <p class="how-it-works__description">
            Never miss out on potential business again! We will notify you of open tenders to contract for events.
            Apply for work using your FoodFest profile.
          </p>
      </div>

      <div class="reasons-row__image reasons-row__image--events [ col-sm-6 hidden-xs ]">
        <div class="overlay"></div>
      </div>
    </div>
  </section>

  <section>
    <div class="reasons-row [ row ]">
      <div class="reasons-row__image reasons-row__image--connect [ col-sm-6 hidden-xs ]">
        <div class="overlay"></div>
      </div>

      <div class="reasons-row__text [ col-sm-6 col-xs-12 text-center ]">
        <h2 class="heading heading--medium">
          <div class="heading__icon-holder">
            <object class="heading__icon" data="assets/icons/svg/chat.svg" type="image/svg+xml">
              <img src="assets/icons/img/chat.png" />
            </object>
          </div>
          <span title="Connect directly with Irish customers using our messaging system" class="header-link">
            Connect directly with clients
          </span>
        </h2>
          <p class="how-it-works__description">
            Our enquiry manager software allows you to connect directly with prospective clients
            and avoid the need for expensive agencies.
          </p>
      </div>
    </div>
  </section>

</article>
