<article>

  <header class="hero">
    <div class="hero__title">
      <h1>Stress-free party and wedding planning</h1>
      <h2>
        Create your own tenders and request applications from
        our partner vendors
      </h2>
      <button class="hero__browse-button" (click)="onClickContactUs()">
        Launching soon. Enquire here <span class="ak-icon-happy"></span>
      </button>
    </div>
  </header>

  <!-- TODO - decide on copy here -->
  <section class="how-it-works">
    <div class="overlay"></div>
    Descriptive text here
  </section>

  <section class="[ container ]">
    Descriptive text here
  </section>

</article>
