<!-- Progress Bar -->
<div class="progress-bar progress-bar--step-1"
  [ngClass]="{
    'progress-bar--step-1': currentStep == 1,
    'progress-bar--step-2': currentStep == 2,
    'progress-bar--step-3': currentStep == 3,
    'progress-bar--step-4': currentStep == 4
  }">
  <div class="[ container ]">
    <div class="[ row-xs-12 ]">
      <div class="progress-bar__step">
        Step {{ currentStep }}:
      </div>
      <div class="progress-bar__description">
        <span *ngIf="currentStep == 1">The Basics</span>
        <span *ngIf="currentStep == 2">Contact Details</span>
        <span *ngIf="currentStep == 3">Let's Get Social</span>
        <span *ngIf="currentStep == 4">Setting The Scene</span>
      </div>
    </div>
  </div>
</div>
<!-- / Progress Bar -->

<div class="form-card card [ container ]">

  <!-- Form steps are rendered here -->
  <router-outlet>
  </router-outlet>
  <!-- / Form steps -->

</div>
