<!-- Progress Bar -->
<div class="progress-bar progress-bar--step-1"
  [ngClass]="{
    'progress-bar--step-1': currentStep == 1,
    'progress-bar--step-2': currentStep == 2,
    'progress-bar--step-3': currentStep == 3,
    'progress-bar--step-4': currentStep == 4
  }">
  <div class="[ container ]">
    <div class="[ row-xs-12 ]">
      <div class="progress-bar__step">
        Step {{ currentStep }}:
      </div>
      <div class="progress-bar__description">
        <span *ngIf="currentStep == 1">The Basics</span>
        <span *ngIf="currentStep == 2">Contact Details</span>
        <span *ngIf="currentStep == 3">Let's Get Social</span>
        <span *ngIf="currentStep == 4">Setting The Scene</span>
      </div>
    </div>
  </div>
</div>
<!-- / Progress Bar -->

<!-- Step 1 -->
<div class="form-card card [ container ]" *ngIf="currentStep == 1">
  <!-- Business Name -->
  <div class="form-row [ row ]">
    <div class="[ col-sm-6 col-xs-12 ]">
      <!-- <div class="[ text-left ]"
        [hidden]="fullName.valid || fullName.pristine" style="color:maroon" role="alert">
        <div ng-message="required">Full name is required</div>
      </div> -->
      <label class="form-label">Business Name *</label>
      <div class="form-input form-input--has-icon sign-up-field">
        <div class="form-icon ak-icon-user"></div>
        <input type="text"
          placeholder="e.g. Domhnaill's Donuts"
          required />
      </div>
    </div>
  </div>
  <!-- / Business Name -->

  <!-- Business Type -->
  <div class="form-row [ row ]">
    <div class="[ col-sm-6 col-xs-12 ]">
      <label class="form-label">Business Type *</label>
      <div class="form-select-wrapper">
        <div class="form-select">
          <ng-select
            [multiple]="true"
            [items]="items"
            (data)="refreshValue($event)"
            (selected)="selected($event)"
            (removed)="removed($event)"
            placeholder="No category selected"></ng-select>
          </div>
      </div>
    </div>
  </div>
  <!-- / Business Type -->

  <!-- Business Setup -->
  <div class="form-row [ row ]">
    <div class="[ col-sm-6 col-xs-12 ]">
      <label class="form-label">Business Setup *</label>
      <div class="form-select-wrapper">
        <div class="form-select">
          <ng-select
            [multiple]="true"
            [items]="items"
            (data)="refreshValue($event)"
            (selected)="selected($event)"
            (removed)="removed($event)"
            placeholder="No category selected"></ng-select>
          </div>
      </div>
    </div>
  </div>
  <!-- / Business Setup -->

  <!-- Event Types -->
  <div class="form-row [ row ]">
    <div class="[ col-sm-6 col-xs-12 ]">
      <label class="form-label">Event Types Supported *</label>
      <div class="form-select-wrapper">
        <div class="form-select">
          <ng-select
            [multiple]="true"
            [items]="items"
            (data)="refreshValue($event)"
            (selected)="selected($event)"
            (removed)="removed($event)"
            placeholder="No category selected"></ng-select>
          </div>
      </div>
    </div>
    <div class="[ col-sm-6 col-xs-12 hidden-xs ]">
      <div class="form-field-description">
        Adding event types supported will help customers find your business faster
      </div>
    </div>
  </div>
  <!-- / Event Types -->

  <!-- Dietary Requirements Supported -->
  <div class="form-row [ row ]">
    <div class="[ col-sm-6 col-xs-12 ]">
      <label class="form-label">Dietary Requirements Supported</label>
      <div class="form-select-wrapper">
        <div class="form-select">
          <ng-select
            [multiple]="true"
            [items]="items"
            (data)="refreshValue($event)"
            (selected)="selected($event)"
            (removed)="removed($event)"
            placeholder="No cuisine selected"></ng-select>
          </div>
      </div>
    </div>
  </div>
  <!-- / Dietary Requirements Supported -->

  <!-- Mandatory Fields -->
  <div class="form-row [ row ]">
    <div class="[ col-xs-12 ]">
      <span class="form-mandatory">* denotes mandatory field</span>
    </div>
  </div>
  <!-- / Mandatory Fields -->

  <!-- Form Buttons -->
  <div class="form-row [ row ]">
    <div class="[ col-xs-12 text-right ]">
      <button class="form-btn-cta" (click)="nextStep()">Next step</button>
    </div>
  </div>
  <!-- / Form Buttons -->

</div>
<!-- / Step 1 -->

<!-- Step 2 -->
<div class="form-card card [ container ]" *ngIf="currentStep == 2">

  <!-- Phone Number -->
  <div class="form-row [ row ]">
    <div class="[ col-sm-6 col-xs-12 ]">
      <label class="form-label">Phone Number *</label>
      <div class="form-input form-input--has-icon sign-up-field">
        <div class="form-icon ak-icon-phone"></div>
        <input type="tel"
          placeholder="e.g. 085 1234567"
          required />
      </div>
    </div>
  </div>
  <!-- / Phone Number -->

  <!-- Business Address -->
  <div class="form-row [ row ]">
    <div class="[ col-sm-6 col-xs-12 ]">
      <label class="form-label">Business Address</label>
      <div class="form-input form-input--has-icon sign-up-field">
        <div class="form-icon ak-icon-pushpin"></div>
        <input
          placeholder="e.g. Domhnaills Donuts, Navan Road, Dublin 7"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="off"
          type="text"
          class="form-control"
          #autocompleteSearch>
      </div>
    </div>
  </div>
  <!-- / Business Address -->

  <!-- Business Website -->
  <div class="form-row [ row ]">
    <div class="[ col-sm-6 col-xs-12 ]">
      <label class="form-label">Business Website</label>
      <div class="form-input form-input--has-icon sign-up-field">
        <div class="form-icon ak-icon-earth"></div>
        <input type="text"
          placeholder="e.g. www.DomhnaillsDonuts.com"
          required />
      </div>
    </div>
  </div>
  <!-- / Business Website -->

  <!-- Mandatory Fields -->
  <div class="form-row [ row ]">
    <div class="[ col-xs-12 ]">
      <span class="form-mandatory">* denotes mandatory field</span>
    </div>
  </div>
  <!-- / Mandatory Fields -->

  <!-- Form Buttons -->
  <div class="form-row [ row ]">
    <div class="[ col-xs-12 text-right ]">
      <button class="form-btn-cta" (click)="previousStep()">Previous step</button>
      <button class="form-btn-cta" (click)="nextStep()">Next step</button>
    </div>
  </div>
  <!-- / Form Buttons -->

</div>
<!-- / Step 2 -->

<!-- Step 3 -->
<div class="form-card card [ container ]" *ngIf="currentStep == 3">

  <!-- Facebook Address -->
  <div class="form-row [ row ]">
    <div class="[ col-sm-6 col-xs-12 ]">
      <label class="form-label">Facebook Address</label>
      <div class="form-input form-input--has-icon sign-up-field">
        <div class="form-icon ak-icon-facebook"></div>
        <input type="text"
          placeholder="e.g. www.facebook.com/DomhnaillsDonuts"
          required />
      </div>
    </div>
    <div class="[ col-sm-6 col-xs-12 hidden-xs ]">
      <div class="form-field-description">
        Don't worry if you don't have this information to hand - you can always add it later
      </div>
    </div>
  </div>
  <!-- / Facebook Address -->

  <!-- Twitter Address -->
  <div class="form-row [ row ]">
    <div class="[ col-sm-6 col-xs-12 ]">
      <label class="form-label">Twitter Address</label>
      <div class="form-input form-input--has-icon sign-up-field">
        <div class="form-icon ak-icon-twitter"></div>
        <input type="text"
          placeholder="e.g. www.twitter.com/DomhnaillsDonuts"
          required />
      </div>
    </div>
  </div>
  <!-- / Twitter Address -->

  <!-- Instagram Address -->
  <div class="form-row [ row ]">
    <div class="[ col-sm-6 col-xs-12 ]">
      <label class="form-label">Instagram Address</label>
      <div class="form-input form-input--has-icon sign-up-field">
        <div class="form-icon ak-icon-instagram"></div>
        <input type="text"
          placeholder="e.g. www.instagram.com/DomhnaillsDonuts"
          required />
      </div>
    </div>
  </div>
  <!-- / Instagram Address -->

  <!-- Mandatory Fields -->
  <div class="form-row [ row ]">
    <div class="[ col-xs-12 ]">
      <span class="form-mandatory">* denotes mandatory field</span>
    </div>
  </div>
  <!-- / Mandatory Fields -->

  <!-- Form Buttons -->
  <div class="form-row [ row ]">
    <div class="[ col-xs-12 text-right ]">
      <button class="form-btn-cta" (click)="previousStep()">Previous step</button>
      <button class="form-btn-cta" (click)="nextStep()">Next step</button>
    </div>
  </div>
  <!-- / Form Buttons -->

</div>
<!-- / Step 3 -->

<!-- Step 4 -->
<div class="form-card card [ container ]" *ngIf="currentStep == 4">

  <!-- Business Logo -->
  <div class="form-row [ row ]">
    <div class="[ col-sm-6 col-xs-12 ]">
      <label class="form-label">Business Logo *</label>
      <div class="form-input form-input--has-icon sign-up-field">
        <div class="form-icon ak-icon-camera"></div>
        <input type="file"
          required />
      </div>
    </div>
    <div class="[ col-sm-6 col-xs-12 hidden-xs ]">
      <div class="form-field-description">
        Square images work best. We recommend 250 x 250 pixels.
      </div>
    </div>
  </div>
  <!-- / Business Logo -->

  <!-- Cover Image -->
  <div class="form-row [ row ]">
    <div class="[ col-sm-6 col-xs-12 ]">
      <label class="form-label">Cover Image</label>
      <div class="form-input form-input--has-icon sign-up-field">
        <div class="form-icon ak-icon-image"></div>
        <input type="file"
          placeholder="e.g. www.facebook.com/DomhnaillsDonuts" />
      </div>
    </div>
    <div class="[ col-sm-6 col-xs-12 hidden-xs ]">
      <div class="form-field-description">
        Don't worry if you don't have this information to hand - you can always add it later
      </div>
    </div>
  </div>
  <!-- / Cover Image -->

  <!-- Additional Images -->
  <div class="form-row [ row ]">
    <div class="[ col-sm-6 col-xs-12 ]">
      <label class="form-label">Additional Images</label>
      <div class="form-input form-input--has-icon sign-up-field">
        <div class="form-icon ak-icon-images"></div>
        <input type="file"
          multiple />
      </div>
    </div>
    <div class="[ col-sm-6 col-xs-12 hidden-xs ]">
      <div class="form-field-description">
        Upload up to 12 additional images to showcase your business
      </div>
    </div>
  </div>
  <!-- / Additional Images -->

  <!-- Description -->
  <div class="form-row [ row ]">
    <div class="[ col-sm-6 col-xs-12 ]">
      <label class="form-label">Description</label>
      <div class="form-input form-input--has-icon sign-up-field">
        <div class="form-icon ak-icon-pencil"></div>
        <textarea rows="5"></textarea>
      </div>
    </div>
  </div>
  <!-- / Description -->

  <!-- Mandatory Fields -->
  <div class="form-row [ row ]">
    <div class="[ col-xs-12 ]">
      <span class="form-mandatory">* denotes mandatory field</span>
    </div>
  </div>
  <!-- / Mandatory Fields -->

  <!-- Form Buttons -->
  <div class="form-row [ row ]">
    <div class="[ col-xs-12 text-right ]">
      <button class="form-btn-cta" (click)="previousStep()">Previous step</button>
      <button class="form-btn-cta" (click)="nextStep()">Next step</button>
    </div>
  </div>
  <!-- / Form Buttons -->

</div>
<!-- / Step 4 -->
