@import '../../scss/core/variables';
@import '../../scss/core/settings';
@import '../../scss/mixins/buttons';

$progress-bar-height: 55px;

.progress-bar {
  z-index: 2;
  width: 100%;
  position: fixed;
  height: $progress-bar-height;
  top: 80px;  // height of header
  border-bottom: 2px solid #efefef;
  background: $brand-body-bg;

  &__step {
    padding: 16px $padding-large-horizontal;
    font-weight: 400;
    float: left;
  }

  &__description {
    padding: 16px $padding-large-horizontal;
    font-weight: 200;
    float: left;
  }

  &:after {
    content: '';
    height: 2px;
    position: relative;
    top: -1px;
    display: block;
    background: black;

    -webkit-transition: width 0.5s;
    transition: width 0.5s;
  }

  &--step-1 {
    &:after {
      width: 16%;
    }
  }

  &--step-2 {
    &:after {
      width: 33%;
    }
  }

  &--step-3 {
    &:after {
      width: 49%;
    }
  }

  &--step-4 {
    &:after {
      width: 65%;
    }
  }

  &--step-5 {
    &:after {
      width: 82%;
    }
  }
}

.form-card {
  margin-top: $progress-bar-height + $padding-xlarge-vertical;
  margin-bottom: $progress-bar-height + $padding-xlarge-vertical;
  padding: $padding-large-vertical $padding-large-horizontal;
}

.form-btn-add-item {
  top: $padding-large-vertical;
  right: $padding-large-horizontal;
  @include button(#fff, $brand-secondary-cta);
  padding: 6px 12px;                  // overriding default button padding
}

fieldset {
  padding: $padding-large-vertical $padding-large-horizontal;
  border-color: $brand-secondary;
  -moz-border-radius: $brand-border-radius;
  border-radius: $brand-border-radius;
  -webkit-border-radius: $brand-border-radius;
  margin-bottom: $padding-large-vertical;

  .form-input {
    margin-bottom: $padding-large-vertical;
  }

  .error-message {
    display: block;
    margin-bottom: $padding-large-vertical;
  }
}
