<div class="[ container ]">
  <div class="[ row ] reset-password">
    <div class="[ col-sm-4 col-sm-offset-4 col-xs-12 ]">
      <p>Reset Your Password.</p>
      <div>
        <ak-messaging class="message" ref="reset-password"></ak-messaging>
         <div>
          <form [formGroup]="resetPasswordForm" (ngSubmit)="submitForm(resetPasswordForm.value)">
            <div class="form-input form-input--has-icon sign-up-field">
              <div class="form-icon ak-icon-lock"></div>
              <input
                type="password"
                placeholder="New Password"
                required
                formControlName="newPassword"
                id="newPassword">
            </div>
            <ak-form-messages [control]="resetPasswordForm.controls.newPassword">
            </ak-form-messages>

            <div class="form-input form-input--has-icon sign-up-field">
              <div class="form-icon ak-icon-lock"></div>
              <input
                type="password"
                placeholder="Confirm Password"
                required
                formControlName="confirmPassword"
                id="confirmPassword">
            </div>
            <ak-form-messages [control]="resetPasswordForm.controls.confirmPassword">
            </ak-form-messages>

            <button type="submit" class="sign-up-button">
              Send Reset Link
            </button>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
