<article>

  <header class="hero">
    <div class="overlay"></div>
    <div class="hero__title">
      <h1>Bring your business to a larger audience</h1>
      <h2>
        Get discovered easier by a larger audience.<br />
        Increase your sales and calendar bookings.
      </h2>
      <button class="hero__browse-button" [routerLink]="['/list-with-us/create-listing/step-1']">
        Join now and gain bookings
      </button>
    </div>
  </header>

  <section class="how-it-works [ container ]">
    <div class="how-it-works__steps [ row ]">

      <div class="[ col-sm-4 col-xs-12 ]">
        <h2 class="heading heading--medium">
          <div class="heading__icon-holder">
            <object class="heading__icon listing__icon-three" data="assets/icons/svg/user.svg" type="image/svg+xml">
              <img src="assets/icons/img/user.png" />
            </object>
          </div>
          <span title="Personalise your message to convey your story to potential clients" class="header-link">
            <span class="heading__badge">1</span>Customize Profile
          </span>
        </h2>
          <p class="how-it-works__description">Customize your FoodFest profile to convey your story to potential clients.</p>
      </div>

      <div class="[ col-sm-4 col-xs-12 ]">
        <h2 class="heading heading--medium">
          <div class="heading__icon-holder">
            <object class="heading__icon" data="assets/icons/svg/wireless-internet.svg" type="image/svg+xml">
              <img src="assets/icons/img/wireless-internet.png" />
            </object>
          </div>
          <span title="Allow your business to be discovered by those organising corporate events, festivals, concerts, parties and weddings in Ireland" class="header-link">
            <span class="heading__badge">2</span>Get Connected
          </span>
        </h2>
          <p class="how-it-works__description">Gain instant exposure to event organisers and planners on their phones or computers.</p>
      </div>

      <div class="[ col-sm-4 col-xs-12 ]">
        <h2 class="heading heading--medium">
          <div class="heading__icon-holder">
            <object class="heading__icon" data="assets/icons/svg/clipboard.svg" type="image/svg+xml">
              <img src="assets/icons/img/clipboard.png" />
            </object>
          </div>
          <span title="Use our messaging system to arrange bookings of your food stall, food van or catering with potential customers" class="header-link">
            <span class="heading__badge">3</span>Arrange Bookings
          </span>
        </h2>
          <p class="how-it-works__description">Get hired for private catering and large events to maximize your service calendar.</p>
      </div>

    </div>
  </section>

  <section class="pricing">
    <header class="[ container ]">

      <h2>Introductory Offer</h2>

      <div class="[ row ]">
        <div class="[ col-md-2 col-sm-1 hidden-xs ]"></div>
        <div class="[ col-md-8 col-sm-10 col-xs-12 ]">
          <!-- Price Plans -->
          <div class="price-plans">

            <!-- 1 month plan -->
            <div class="plan-box plan-box--monthly">
              <div class="plan-options">
                <div class="plan-options-heading">
                  <div class="plan-options-heading--title">
                    Billed every
                  </div>
                  <div class="plan-options-heading--term">
                    month
                  </div>
                </div>
                <div class="plan-price">
                  <span class="plan-price--currency">
                    &euro;
                  </span>
                  25
                </div>
                <div class="plan-term">
                  per month
                </div>
              </div>
            </div>
            <!-- / 1 month plan -->

            <!-- 1 year plan -->
            <div class="plan-box plan-box--annual">
              <div class="plan-options">
                <div class="recommended-plan">
                  <span class="ak-icon-star-full"></span>
                  <span class="ak-icon-star-full"></span>
                  <span class="ak-icon-star-full"></span>
                  <span class="ak-icon-star-full"></span>
                  <span class="ak-icon-star-full"></span>
                </div>
                <div class="plan-options-heading">
                  <div class="plan-options-heading--title">
                    Billed every
                  </div>
                  <div class="plan-options-heading--term">
                    year
                  </div>
                </div>
                <div class="plan-price">
                  <span class="plan-price--currency">
                    &euro;
                  </span>
                  17
                </div>
                <div class="plan-term">
                  per month
                </div>
                <div class="plan-savings">
                  Save 15%
                </div>
              </div>
            </div>
            <!-- / 1 year plan -->

            <!-- 6 month plan -->
            <div class="plan-box plan-box--biannual">
              <div class="plan-options">
                <div class="plan-options-heading">
                  <div class="plan-options-heading--title">
                    Billed every
                  </div>
                  <div class="plan-options-heading--term">
                    6 months
                  </div>
                </div>
                <div class="plan-price">
                  <span class="plan-price--currency">
                    &euro;
                  </span>
                  20
                </div>
                <div class="plan-term">
                  per month
                </div>
                <div class="plan-savings">
                  Save 17%
                </div>
              </div>
            </div>
            <!-- / 6 month plan -->

          </div>
          <!-- / Price Plans -->
        </div>

        <div class="[ col-md-2 col-sm-1 hidden-xs ]"></div>

      </div>
      <!-- / Row -->

      <div class="[ row text-center ]">

        <button class="hero__browse-button" [routerLink]="['/list-with-us/create-listing/step-1']">
          Create your listing and increase sales
        </button>

      </div>

    </header>
    <!-- / Container -->
  </section>

  <!-- Discover Available Events -->
  <section>
    <div class="reasons-row [ row ]">

      <div class="reasons-row__text [ col-sm-6 col-xs-12 text-center ]">
        <h2 class="heading heading--medium">
          <div class="heading__icon-holder">
            <object class="heading__icon" data="assets/icons/svg/calendar.svg" type="image/svg+xml">
              <img src="assets/icons/img/calendar.png" />
            </object>
          </div>
          <span title="Discover those organising corporate events, festivals, concerts, parties and weddings in Ireland and apply for contracts" class="header-link">
            Discover available events
          </span>
        </h2>
          <p class="how-it-works__description">
            Never miss out on potential business again! We will notify you of open tenders to contract for events.
            Apply for work using your FoodFest profile.
          </p>
      </div>

      <div class="reasons-row__image reasons-row__image--events [ col-sm-6 hidden-xs ]">
        <div class="overlay"></div>
      </div>
    </div>
  </section>
  <!-- / Discover Available Events -->

  <section>
    <div class="reasons-row [ row ]">
      <div class="reasons-row__image reasons-row__image--connect [ col-sm-6 hidden-xs ]">
        <div class="overlay"></div>
      </div>

      <div class="reasons-row__text [ col-sm-6 col-xs-12 text-center ]">
        <h2 class="heading heading--medium">
          <div class="heading__icon-holder">
            <object class="heading__icon" data="assets/icons/svg/chat.svg" type="image/svg+xml">
              <img src="assets/icons/img/chat.png" />
            </object>
          </div>
          <span title="Connect directly with Irish customers using our messaging system" class="header-link">
            Connect directly with clients
          </span>
        </h2>
          <p class="how-it-works__description">
            Our enquiry manager software allows you to connect directly with prospective clients
            and avoid the need for expensive agencies.
          </p>
      </div>
    </div>
  </section>

</article>
