<article>

  <header class="hero">
    <div class="hero__title">
      <h1>The better way to find food &amp; catering</h1>
      <h2>FoodFest makes it easy to find quality food vendors and catering for your corporate event, concert, party or wedding</h2>
      <button class="hero__browse-button" [routerLink]="['/list-with-us/create-listing/step-1']">
        Join now and increase bookings
      </button>
    </div>
  </header>

  <section class="how-it-works [ container ]">

    <div class="how-it-works__steps [ row ]">

      <div class="[ col-sm-4 col-xs-12 ]">
        <h2 class="heading heading--medium">
          <div class="heading__icon-holder">
            <object class="heading__icon" data="assets/icons/svg/wireless-internet.svg" type="image/svg+xml">
              <img src="assets/icons/img/wireless-internet.png" />
            </object>
          </div>
          <span title="Allow your business to be discovered by those organising corporate events, festivals, concerts, parties and weddings in Ireland" class="jslink header-link">
            <span class="heading__badge">1</span>Get Connected
          </span>
        </h2>
          <p class="how-it-works__description">Instantly reach event organisers and planners from their phones or computers.</p>
      </div>

      <div class="[ col-sm-4 col-xs-12 ]">
        <h2 class="heading heading--medium">
          <div class="heading__icon-holder">
            <object class="heading__icon" data="assets/icons/svg/clipboard.svg" type="image/svg+xml">
              <img src="assets/icons/svg/clipboard.png" />
            </object>
          </div>
          <span title="Use our messaging system to arrange bookings of your food stall, food van or catering with potential customers" class="jslink header-link">
            <span class="heading__badge">2</span>Book Catering
          </span>
        </h2>
          <p class="how-it-works__description">Get hired for private catering and large events to maximize your service calendar.</p>
      </div>

      <div class="[ col-sm-4 col-xs-12 ]">
        <h2 class="heading heading--medium">
          <div class="heading__icon-holder">
            <object class="heading__icon listing__icon-three" data="assets/icons/svg/user.svg" type="image/svg+xml">
              <img src="assets/icons/img/user.png" />
            </object>
          </div>
          <span title="Personalise your message to convey your story to potential clients" class="jslink header-link">
            <span class="heading__badge">3</span>Customize Profile
          </span>
        </h2>
          <p class="how-it-works__description">Customize your FoodFest profile to convey your story to potential clients.</p>
      </div>

    </div>

  </section>

  <section class="pricing">
    <header class="[ container ]">

      <div class="[ row ]">
        <div class="[ col-md-2 col-sm-1 hidden-xs ]"></div>
        <div class="[ col-md-8 col-sm-10 col-xs-12 ]">
          <!-- Price Plans -->
          <div class="price-plans">

            <!-- 1 month plan -->
            <div class="plan-box plan-box--monthly">
              <div class="plan-options">
                <div class="plan-options-heading">
                  <div class="plan-options-heading--title">
                    Billed every
                  </div>
                  <div class="plan-options-heading--term">
                    month
                  </div>
                </div>
                <div class="plan-price">
                  <span class="plan-price--currency">
                    &euro;
                  </span>
                  25
                </div>
                <div class="plan-term">
                  per month
                </div>
              </div>
            </div>
            <!-- / 1 month plan -->

            <!-- 1 year plan -->
            <div class="plan-box plan-box--annual">
              <div class="plan-options">
                <div class="recommended-plan">
                  <span class="ak-icon-star-full"></span>
                  <span class="ak-icon-star-full"></span>
                  <span class="ak-icon-star-full"></span>
                  <span class="ak-icon-star-full"></span>
                  <span class="ak-icon-star-full"></span>
                </div>
                <div class="plan-options-heading">
                  <div class="plan-options-heading--title">
                    Billed every
                  </div>
                  <div class="plan-options-heading--term">
                    year
                  </div>
                </div>
                <div class="plan-price">
                  <span class="plan-price--currency">
                    &euro;
                  </span>
                  17
                </div>
                <div class="plan-term">
                  per month
                </div>
                <div class="plan-savings">
                  Save 15%
                </div>
              </div>
            </div>
            <!-- / 1 year plan -->

            <!-- 6 month plan -->
            <div class="plan-box plan-box--biannual">
              <div class="plan-options">
                <div class="plan-options-heading">
                  <div class="plan-options-heading--title">
                    Billed every
                  </div>
                  <div class="plan-options-heading--term">
                    6 months
                  </div>
                </div>
                <div class="plan-price">
                  <span class="plan-price--currency">
                    &euro;
                  </span>
                  20
                </div>
                <div class="plan-term">
                  per month
                </div>
                <div class="plan-savings">
                  Save 17%
                </div>
              </div>
            </div>
            <!-- / 6 month plan -->

          </div>
          <!-- / Price Plans -->
        </div>

        <div class="[ col-md-2 col-sm-1 hidden-xs ]"></div>

      </div>
      <!-- / Row -->

      <div class="[ row text-center ]">

        <button class="hero__browse-button" [routerLink]="['/list-with-us/create-listing/step-1']">
          Create your listing and increase sales
        </button>

      </div>

    </header>
    <!-- / Container -->
  </section>

</article>
