<div class="market-card__title">
  <div class="title-item" [ngClass]="market.allow_contact ? '[ col-xs-8 col-sm-10 ]': '[ col-xs-12 ]'">
    <h4>{{market.name}}</h4>
  </div>
  <div *ngIf="market.allow_contact" class="title-item [ col-xs-4 col-sm-2 ]">
    <button class="hero__browse-button slim" (click)="openConfirmationDialog(market)">Contact organiser</button>
  </div>
</div>
<div class="market-card__location"><span class="ak-icon-location"></span>{{market.location}}</div>
<div class="market-card__opening">
  <span>Opening times:</span>
  <span class="market-card__opening day" *ngFor="let openDay of market.opening_days">
    <span>{{openDay.week_day}}</span>
    <span *ngIf="openDay.opening_time && openDay.closing_time">{{openDay.opening_time}} - {{openDay.closing_time}}</span>
  </span>
</div>
<div class="market-card__desc [ pre-wrap ]">{{market.description}}</div>
