<div class="image-scroller">

  <div class="image-scroller__arrow image-scroller__arrow--left"
    *ngIf="deviceType !== 'phone'">
    <span class="ak-icon-chevron-thin-left">
    </span>
  </div>

  <div class="image-scroller__container">
    <div class="image-scroller__image-tile" *ngFor="let image of images">
      <img [src]="image">
    </div>
  </div>

  <div class="image-scroller__arrow  image-scroller__arrow--right"
    *ngIf="deviceType !== 'phone'">
    <span class="ak-icon-chevron-thin-right">
    </span>
  </div>

</div>
