<div>
  <ak-messaging ref="signup"></ak-messaging>

  <div [hidden]="isEmailSignUp">

    <div class="sign-up-button sign-up-button--facebook"
      (click)="facebookSignUp()">
      <span class="sign-up-icon ak-icon-facebook"></span>
      Sign up with Facebook
    </div>

    <div class="sign-up-button sign-up-button--google"
      (click)="googleSignUp()">
      <span class="sign-up-icon ak-icon-google-plus"></span>
      Sign up with Google
    </div>

    <div class="divider">
      <div class="divider__text">or</div>
      <hr />
    </div>

    <div class="sign-up-button"
      (click)="emailSignUp()">
      <span class="sign-up-icon ak-icon-mail"></span>
      Sign up with Email
    </div>

  </div>

  <div [hidden]="!isEmailSignUp">

    <form [formGroup]="signUpForm" (ngSubmit)="submitForm(signUpForm.value)">

      <!-- FORM FIELDS -->
        <!-- Full Name -->
        <div class="form-input form-input--has-icon sign-up-field">
          <div class="form-icon ak-icon-user"></div>
          <input
            type="text"
            placeholder="Full Name"
            required
            formControlName="userName"
            id="userName">
        </div>
        <ak-form-messages [control]="signUpForm.controls.userName">
        </ak-form-messages>
        <!-- / Full Name -->

        <!-- Email -->
        <div class="form-input form-input--has-icon sign-up-field">
          <div class="form-icon ak-icon-mail"></div>
          <input
            type="email"
            placeholder="Email"
            required
            formControlName="userEmail"
            id="userEmail">
        </div>
        <ak-form-messages [control]="signUpForm.controls.userEmail">
        </ak-form-messages>
        <!-- / Email -->

        <!-- Password -->
        <div class="form-input form-input--has-icon sign-up-field">
          <div class="form-icon ak-icon-lock"></div>
          <input
            type="password"
            placeholder="Password"
            required
            formControlName="userPassword"
            id="userPassword">
        </div>
        <ak-form-messages [control]="signUpForm.controls.userPassword">
        </ak-form-messages>
        <!-- / Password -->
      <!-- /FORM FIELDS -->

      <!-- TODO : Get this working again : reCaptcha -->
    <!--   <div vc-recaptcha
        ng-model="recaptchaResponse"
        key="'6Lfg2SUTAAAAAPZS5zQZoycRhMmaXNmZ4rceTam_'">
      </div> -->
      <!-- /reCaptcha -->

      <button type="submit" class="sign-up-button sign-up-button--email">
        Sign up
      </button>

    </form>

  </div>

  <div class="[ text-left ] terms-of-use">
    <span>By clicking Sign up, I agree to Foodfest.ie
      <a [routerLink]="['/privacy']" (click)="goToTermsOfUse()">
        Terms of Use
      </a>
      .
    </span>
  </div>

  <div class="[ text-center ]">
    <a class="alternative-option" (click)="signIn()">Have an account? Log in.</a>
  </div>

</div>
