<div class="listings-edit">

  <ak-messaging ref="listings-edit">
  </ak-messaging>

  <div class="listings-edit-menu">
    <div class="listings-edit-menu__item menu-one"
      [ngClass]="{'listings-edit-menu__item--active': activeItem == 1 }"
      (click)="toggleActive($event, 1)">
      <span class="[ hidden-xs ]">Listing</span> Summary
    </div>
    <div class="listings-edit-menu__item menu-two"
      [ngClass]="{'listings-edit-menu__item--active': activeItem == 2 }"
      (click)="toggleActive($event, 2)">
      <span class="[ hidden-xs ]">Listing</span> Details
    </div>
    <div class="listings-edit-menu__item menu-three"
      [ngClass]="{'listings-edit-menu__item--active': activeItem == 3 }"
      (click)="toggleActive($event, 3)">
      <span class="[ hidden-xs ]">Listing</span> Description
    </div>
    <div class="listings-edit-menu__item menu-four"
      [ngClass]="{'listings-edit-menu__item--active': activeItem == 4 }"
      (click)="toggleActive($event, 4)">
      Images
    </div>
    <hr />
  </div>

  <ak-listings-meta
    *ngIf="activeItem == 1"
    [vendor]="vendor">
  </ak-listings-meta>

  <ak-listings-details
    *ngIf="activeItem == 2"
    [vendor]="vendor">
  </ak-listings-details>

  <ak-listings-description
    *ngIf="activeItem == 3"
    [vendor]="vendor">
  </ak-listings-description>

  <ak-listings-images
    *ngIf="activeItem == 4"
    [vendor]="vendor">
  </ak-listings-images>

</div>
