<div class="account-meta"
  [ngClass]="{'account-meta--logged-in': loggedIn}">

  <!-- TODO : Develop Logged IN handler to show/hide links based on login status -->
  <!-- /TODO -->

  <!-- Logged OUT -->
  <a class="header__action [ hidden-xs ]"
    (click)="showSignUp()"
    *ngIf="!loggedIn">
    Sign up
  </a>
  <a class="header__action [ hidden-xs ]"
    (click)="showSignIn()"
    *ngIf="!loggedIn">
    Login
  </a>
  <!-- / Logged OUT -->

  <!-- Logged IN -->
  <a (click)="toggleDropdown()" class="header__action js-admin-link [ hidden-xs ]"
    *ngIf="loggedIn">
    <div *ngIf="notificationsNum > 0" class="notification">{{notificationsNum}}</div>
    <span class="account-meta__icon ak-icon-user-circle"></span>
    <span class="account-meta__dropdown-link">
      <span class="account-meta__name js-admin-link">
        {{firstname}}
      </span>
      <span class="account-meta__dropdown-icon ak-icon-chevron-thin-down js-admin-link"></span>
    </span>
  </a>
  <!-- Logged IN -->

  <div class="admin-dropdown dropdown-menu">
    <ul>
    <!-- TODO: not for phase 1, provide insigt statistics about their listings -->
      <!-- <li class="js-admin-link">
        <a ng-href="#/admin/dashboard">
          Dashboard
        </a>
      </li> -->
      <li class="js-admin-link">
        <a [routerLink]="['/dashboard/profile']">
          My Profile
        </a>
      </li>
      <li class="js-admin-link" [ngClass]="!isVendor ? 'hidden' : ''">
        <a [routerLink]="['/dashboard/listings']">
          My Listings
        </a>
      </li>
      <li class="js-admin-link">
        <a [routerLink]="['/dashboard/inbox']">
          Messages
        <div *ngIf="notifications?.message > 0" class="notification link">{{notifications.message}}</div>
        </a>
      </li>
      <li class="js-admin-link">
        <a [routerLink]="['/dashboard/favourites']">
          Favourites
        </a>
      </li>
      <li class="js-admin-link">
        <a ng-href="" (click)="logout()">
          Logout
        </a>
      </li>
      <hr />
      <li>
        <a [routerLink]="['/help']">
          Help
        </a>
      </li>
    </ul>
  </div>

</div>
