@import '../../../scss/core/variables';

//
// Account meta section - contained in header
// General header styling is in common/header.scss
// --------------------------------------------------

.account-meta {
  float: right;
  display: block;
  height: 100%;

  &--logged-in {
    .header__action {
      padding-top: 18px;
    }
  }

  &__name {
    margin: 0 20px 0 10px;
    position: relative;
  }

  &__avatar {
    width: 50px;
    border-radius: 100%;
    border: 2px solid $brand-body-bg;
  }

  &__icon {
    font-size: 30px;
    position: relative;
    top: 5px;
    left: 8px;
  }

  &__dropdown-icon {
    font-size: 20px;
    position: relative;
    top: 4px;
    right: 18px;
  }

  &__dropdown-link {
    color: #fff;
    &:focus, &:hover, &:active {
      text-decoration: none;
      color: #fff;
    }
  }
}

.notification {
  width: 17px;
  height: 17px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  font-size: 10px;
  position: absolute;
  background-color: $brand-primary-cta;
  color: $brand-body-bg;
  font-weight: $font-weight-bold;
  z-index: 1;

  &.link {
    margin-left: 5px;
    top: 9px;
  }
}

.admin-dropdown {
  color: #fff;
  position: absolute;
  top: 80px;
  right: 167px;
  z-index: 999;
  visibility: hidden;
  opacity: 0;

  &--active {
    visibility: visible;
    opacity: 1;
  }

  ul {
    text-align: left;
    width: 155px;
    margin: 6px 0;
    li {
      position: relative;
      &:hover {
        background: $brand-links;
        color: #fff;

        .notification {
          background-color: $brand-body-bg;
          color: $brand-primary-cta;
        }

      }
      a {
        padding: 6px 12px;
        color: #333;
        display: inline-block;
        width: 100%;
        &:hover {
          color: #fff;
        }
      }
    }
    hr {
      margin: 0;
    }
  }
}
