<div class="ak-twitter-feed" *ngIf="tweets">

  <h4 class="ak-twitter-feed__header">Latest Tweets</h4>

  <div class="tweets-wrapper">

    <!-- TODO : develop separate loader component with loading service
        Maybe tie loading service to RestService?
     -->

    <div *ngIf="loading" style="position: relative; top: 50px; margin: 0 auto;" class="loader-container">
        <div class="loader">
            <span class="dot dot_1"></span>
            <span class="dot dot_2"></span>
            <span class="dot dot_3"></span>
            <span class="dot dot_4"></span>
        </div>
    </div>

    <div class="tweet" *ngFor="let tweet of tweets">
      <div class="tweet__user">
        <a target="_blank" href="{{ twitterUrl }}">
          <span class="icon ak-icon-twitter">
          </span>
          <div class="tweet__date">
            {{ tweet.created_at | date: 'yMMMdjms' }}
          </div>
        </a>
      </div>
      <!-- Inner HTML will allow proper rendering of
       encoded values like &nbsp; -->
      <div class="tweet__text" [innerHTML]="tweet.text">
      </div>
    </div>
  </div>

</div>
