@import '../../scss/core/variables';
@import '../../scss/mixins/buttons';

.hero {
  background-image: url('../assets/img/hero.png');
  background-size: cover;
  background-position: center bottom;
  position: relative;
  width: 100%;

  height: -o-calc(100vh - 80px);      /* opera */
  height: -webkit-calc(100vh - 80px); /* google, safari */
  height: -moz-calc(100vh - 80px);    /* firefox */
  height: calc(100vh - 80px);

  @media(max-width: $screen-sm) {
    height: 450px;
  }

  padding-top: 5%;

  &__title {
    width: 60%;
    margin: 0 auto;
    text-align: center;

    @media (max-width: $screen-sm-max) {
      width: 70%;
    }

    @media (max-width: $screen-xs-max) {
      width: 80%;
    }
  }

  &__browse-button {
    margin-top: 16px;
    @include button(#fff, $brand-primary-cta);
    font-weight: 400;
  }

  h1 {
    color: $brand-primary;
  }

  h2 {
    color: #5d5c5c;
    font-size: 22px;
    padding-top: 26px;
  }
}

.home {
  // Icons are not the same dimensions unfortunately
  &__icon-one {
    width: 145px;
    height: 145px;
    position: relative;
    top: 14px;
    margin-bottom: 18px;
    @media(max-width: $screen-sm-max) {
      width: 109px;
      height: 109px;
    }
  }
  // Icons are not the same dimensions unfortunately
  &__icon-three {
    position: relative;
    top: -2px;
  }
}

.how-it-works__steps {
  margin-bottom: 3em;
}
