<article>

  <header class="hero">
    <div class="hero__title">
      <h1>The better way to find food &amp; catering</h1>
      <h2>FoodFest makes it easy to find quality food vendors and catering for your corporate event, concert, party or wedding</h2>
      <button class="hero__browse-button" [routerLink]="['/search-results']">
        Browse now<span class="[ hidden-xs ]"> and start planning</span>
      </button>
    </div>
  </header>

  <section class="how-it-works [ container ]">

    <h1>How it works</h1>

    <div class="how-it-works__steps [ row ]">

      <div class="[ col-sm-4 col-xs-12 ]">
        <h2 class="heading heading--medium" (click)="onClickHeading()">
          <div class="heading__icon-holder">
            <object class="heading__icon home__icon-one" data="assets/icons/svg/research.svg" type="image/svg+xml">
              <img src="assets/icons/img/research.png" />
            </object>
          </div>
          <span title="Search our list of vendors for your corporate event, festival, concert, party or wedding" class="jslink header-link">
            <span class="heading__badge">1</span>Browse Vendors
          </span>
        </h2>
        <p class="how-it-works__description">
          It’s simple and free. Our selection of vendors covers a wide range of cuisines and specialities
          and cater for many different types of events.
        </p>
      </div>

      <div class="[ col-sm-4 col-xs-12 ]">
        <h2 class="heading heading--medium" (click)="onClickHeading()">
          <div class="heading__icon-holder">
            <object class="heading__icon" data="assets/icons/svg/clipboard.svg" type="image/svg+xml">
              <img src="assets/icons/img/clipboard.png" />
            </object>
          </div>
          <span title="Use our messaging system to contact vendors and arrange a food stall, food van or caterer" class="jslink header-link">
          <span class="heading__badge">2</span>Arrange a Booking
          </span>
        </h2>
        <p class="how-it-works__description">
          Use our messaging system to make enquiries and make arrangements. Contact details are shared only when you say so.
        </p>
      </div>

      <div class="[ col-sm-4 col-xs-12 ]">
        <h2 class="heading heading--medium" (click)="onClickHeading()">
          <div class="heading__icon-holder">
            <object class="heading__icon home__icon-three" data="assets/icons/svg/review.svg" type="image/svg+xml">
              <img src="assets/icons/img/review.png" />
            </object>
          </div>
          <span title="Read customer reviews about vendors" class="jslink header-link">
          <span class="heading__badge">3</span>Leave Feedback
          </span>
        </h2>
        <p class="how-it-works__description">
          Feedback rewards our traders for quality work and helps inform others of the type of service provided
          by the vendor.
        </p>
      </div>

    </div>

    <div class="[ row ]">
      <div class="[ col-sm-2 hidden-xs ]"></div>
      <div class="[ col-sm-8 col-xs-12 ]">
        <a class="how-it-works__learn-more" [routerLink]="['/list-with-us']">
          Vendor? Learn about the benefits of listing
          <span class="ak-icon-chevron-right"></span>
        </a>
      </div>
      <div class="[ col-sm-2 hidden-xs ]"></div>
    </div>

  </section>

</article>
