@import '../../../scss/core/variables';
@import '../../../scss/core/settings';

.send-message {
  min-height: 80px;
  padding-bottom: 15px;

  &__text {
    width: 100%;
    border: 1px solid $gray-lightest;
    border-radius: $brand-border-radius;
  }

  &__vendors {
    text-align: left;
    padding-top: 10px;
  }

  &__buttons {
    position: absolute;
    right: 0;
    bottom: -30px;

     @media (min-width: $screen-sm-min) {
        right: -35px;
      }
  }

  .custom-dropdown {
    flex-direction: column;
  }

  .btn-negative.smaller, .btn-primary-cta.smaller {
    padding: 4px 14px;
  }

  .btn-primary-cta.smaller {
    margin-left: 10px;
  }
}

.vedors-choice {
  width: auto !important;
  margin-right: 5px !important;
}

.message-space {
  display: block;
  margin-right: -10px;
  margin-left: -10px;
}
