@import '../../scss/core/variables';
@import '../../scss/core/settings';

$padding: 10px;

.search-results {
   // padding-top: 20px;
   padding-bottom: 20px;

  @media (min-width: $screen-sm-min) {
    padding-top: $brand-header-padding;
    padding-bottom: $brand-header-padding;
  }

  &__active {
    padding-bottom: 20px;

    @media (min-width: $screen-sm-min) {
      display: flex;
      align-items: center;
    }

/**********custom made dropdown ************/
    .active-order {
      display: flex;

      @media (min-width: $screen-sm-min) {
        float: right;
      }

      &__label {
        padding-right: 10px;
      }

      &__select {
        flex-grow: 1;

        &-dropdown {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          outline: 0;
          min-width: 100px;
          width: 100%;
          text-transform: capitalize;
          border: 1px solid $brand-secondary;
          border-radius: $brand-border-radius;
          padding: 1px 10px;
        }

        &-arrow {
          position: absolute;
          top: 7px;
          right: 24px;
          pointer-events: none;
        }
      }
    }
/*****end of custom made dropdown********/
  }


  &__filters {
    @media (max-width: $screen-xs-min) {
      padding-top: $padding;
      background-color: $gray-lightest;

      &-list {
        //show filters in one line when on phone
        display: flex;
        align-items: stretch;
      }
    }
  }

}

