@import '../../scss/core/variables';
@import '../../scss/core/settings';

$padding: 10px;

.search-results {
   padding-bottom: 20px;

  @media (min-width: $screen-sm-min) {
    padding-top: $brand-header-padding;
    padding-bottom: $brand-header-padding;
  }

  &__active {
    padding-bottom: 20px;

    @media (min-width: $screen-sm-min) {
      display: flex;
      align-items: center;
    }

   .custom-dropdown {
     @media (min-width: $screen-sm-min) {
      float: right;
    }
   }
  }


  &__filters {
    @media (max-width: $screen-xs-min) {
      padding-top: $padding;
      background-color: $gray-lightest;

      &-list {
        //show filters in one line when on phone
        display: flex;
        align-items: stretch;
      }
    }
  }

}

