@import '../../scss/core/variables';
@import '../../scss/mixins/buttons';

.hero {
  background-image: url('../assets/img/commercial-hero.png');
  background-size: cover;
  background-position: center bottom;
  position: relative;
  width: 100%;

  height: -o-calc(100vh - 80px);      /* opera */
  height: -webkit-calc(100vh - 80px); /* google, safari */
  height: -moz-calc(100vh - 80px);    /* firefox */
  height: calc(100vh - 80px);

  @media(max-width: $screen-sm) {
    height: 450px;
  }

  padding-top: 5%;

  &__title {
    width: 60%;
    margin: 0 auto;
    text-align: center;

    @media (max-width: $screen-sm-max) {
      width: 70%;
    }

    @media (max-width: $screen-xs-max) {
      width: 80%;
    }
  }

  &__browse-button {
    margin-top: 16px;
    @include button(#fff, #ff8da1);
    font-weight: 400;
  }

  h1, h2 {
    font-weight: 300;
  }

  h1 {
    color: $brand-secondary;
  }

  h2 {
    color: darken($brand-secondary, 20%);
    font-size: 22px;
    padding-top: 16px;
  }
}

.how-it-works {
  text-align: center;
  padding: 54px 0;
}

@media(max-width: $screen-sm) {
  .how-it-works {
    padding-top:2em;
    margin-bottom: 2.5em
  }
}

.how-it-works__steps {
  text-align: left;
  margin-bottom: 3em;
}

@media(max-width: $screen-sm) {
  .how-it-works__steps {
    margin-bottom:1em;
  }
}

.how-it-works__steps p {
  margin-bottom: 0;
}

@media(max-width: $screen-sm) {
  .how-it-works__steps p {
    margin-bottom: 1.1666666667em;
  }
}

.how-it-works__learn-more {
  font-weight: bold;
  font-size: 1.2857142857em;
  margin-top: 54px;
}

.heading__badge {
  display: inline-block;
  height: 1.875em;
  width: 1.875em;
  margin-right: .5833333333em;
  margin-bottom: 1em;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  border: 3px solid $brand-secondary;
  color:  $brand-secondary;
  line-height: 1.675em;
  text-align: center;
  font-size: .8333333333em;
  background: $body-bg;
}
