/*
 * Animations
 */

 /* Strikethrough
  * Taken from : http://codepen.io/EdenSG/pen/jPENoE/
  */

 .strikethrough {
    display: inline-block;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      display: block;
      opacity: 0;
      width: 100%;
      height: 1px;
      margin-top: -0.7em;
      background: #ccc;
      transform-origin: center left;
      animation: strikethrough 1s 0.5s cubic-bezier(.55, 0, .1, 1) 1 forwards;
      transition: transform 0.5s cubic-bezier(.55, 0, .1, 1);
    }
 }

 /* Keyframes for initial animation */

 @keyframes strikethrough {
    from {
        opacity: 0.2;
        transform: scaleX(0);
    }
    to {
        opacity: 1;
        transform: scaleX(1);
    }
 }
