/*
 * Buttons
 */

.btn-primary-cta {
  @include button(#fff, $brand-primary-cta);

  @media (max-width: $screen-xs-max) {
    font-size: $font-size-base;
    padding: $padding-small-vertical $padding-small-horizontal;
  }
}

.btn-negative {
  @include button(#777, #D7D3D0);

  @media (max-width: $screen-xs-max) {
    font-size: $font-size-base;
    padding: $padding-small-vertical $padding-small-horizontal;
  }
}

.hero__browse-button {
  margin-top: 16px;
  @include button($brand-body-bg, $brand-primary-cta);
  font-weight: 400;

  &.slim {
    margin-top: 0;
    padding: 5px 10px;
  }

  &:disabled {
    background-color: lighten($brand-primary-cta, 10%);
    &:hover {
      cursor: default;
      background-color: lighten($brand-primary-cta, 10%);
    }
  }
}

/*
* Filter buttons on search page
*/
.filter-button {
  background-color: $brand-body-bg;
  border: 1px solid $brand-secondary;
  margin-bottom: 5px;
  padding: 2px 7px;
  text-transform: capitalize;
  font-size: $font-size-small;
  border-radius: $brand-border-radius;

  &:hover {
    cursor: pointer;
    background-color: $gray-lightest;
  }

  &.selected {
    background-color: $brand-secondary;
    color: $brand-body-bg;
  }

  &.rating {
    display: inline-block;
    color: $brand-secondary;
    border-radius: 0;
    border-left: none;

    &:nth-of-type(1) {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      border-left: 1px solid $brand-secondary;
    }

    &:nth-of-type(5) {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    &.selected {
      color: $brand-body-bg;
    }
  }
}
