/*
 * Card
 */

.card {
  background: #fff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  padding: $padding-base-vertical $padding-base-horizontal;
  border-radius: $brand-border-radius;
}

.card-empty {
  color: $brand-secondary;
  font-size: $font-size-large;
  padding: 50px;
  text-align: center;

  &__image {
    font-size: 130px;
    opacity: 0.6;
  }

  &__text {
    margin-top: 30px;

    &--line-one {
      font-size: 30px;
    }

    &--line-two {
      font-size: $font-size-base;
      padding-top: 10px;
    }
  }

}
