.dropdown-menu {
  position: relative;
  background: $brand-body-bg;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: $brand-border-radius;
  position: absolute;
  top: 48px;
  z-index: 99;
}

.dropdown-menu:after {
  bottom: 100%;
  left: 82%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 15px;
  margin-left: -15px;
}

// for ng2-select only
.ui-select-choices.dropdown-menu {
  left: 0;
}

/**********custom made dropdown ************/
.custom-dropdown {
  display: flex;
  flex-direction: row;

  &__label {
    padding-right: 10px;
    line-height: calc(1.42857 + 0.2);
  }

  &__select {
    flex-grow: 1;
    position: relative;

    &-dropdown {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: 0;
      min-width: 100px;
      width: 100%;
      text-transform: capitalize;
      border: 1px solid $brand-secondary;
      border-radius: $brand-border-radius;
      padding: 1px 10px;
      line-height: calc(#{$line-height-base} + 0.2);
      padding-right: 30px;
    }

    &-arrow {
      position: absolute;
      top: 8px;
      right: 8px;
      pointer-events: none;
    }
  }
}
/*****end of custom made dropdown********/
