.dropdown-menu {
  position: relative;
  background: #ffffff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: $brand-border-radius;
  position: absolute;
  left: 0;
  top: 48px;
  z-index: 99;
}
.dropdown-menu:after {
  bottom: 100%;
  left: 82%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 15px;
  margin-left: -15px;
}
