/*
 * Forms
 */

 $icon-color:       #999;

.form-input {
  border-radius: $brand-border-radius;
  border: 1px solid $brand-border-color;
  box-shadow: inset 0 1px 4px 2px rgba(0,0,0,0.1);
  background: #fff;
  position: relative;

  input, textarea {
    width: 100%;
    height: 100%;
    background: transparent;
    padding: $padding-base-horizontal;
    border: none;
    font-weight: $font-weight-light;

    &:disabled {
      background: $gray-lightest;

      &:hover {
        cursor: not-allowed;
      }
    }

    &:focus{
      outline: none;
    }
  }

  textarea {
    min-height: 80px;
  }

  &--has-icon {
    padding-left: 40px;
    @media (max-width: $screen-xs-max) {
      padding-left: 10px;
    }
  }
}

.form-icon {
  color: $icon-color;
  width: 40px;
  height: 40px;
  left: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-20%);
  text-align: left;
  @media (max-width: $screen-xs-max) {
    left: 4px;
  }
}

.form-mandatory {
  font-weight: $font-weight-light;
  font-size: $font-size-small;
  font-style: italic;
}

.form-select-wrapper {

  position: relative;
  float: left;
  width: 100%;

  // the <select> element itself
  .form-select {
    min-width: 80px;
    padding: $padding-small-horizontal 20px;

    background: transparent;
    border-radius: $brand-border-radius;
    border: 1px solid $brand-border-color;
    box-shadow: inset 0 1px 4px 2px rgba(0,0,0,0.1);
    background: $brand-body-bg;
    font-weight: $font-weight-light;
    appearance: none;

    @media (max-width: $screen-xs-max) {
      padding: $padding-base-horizontal 8px;
      min-width: 0;
    }
  }

  &::after {
    position: absolute;
    right: 20px;
    bottom: 10px;
    box-sizing: border-box;

    color: #000;
    font-family: 'ak-icons';
    content: "\e908";
    font-size: 18px;
    pointer-events: none;
    text-align: center;

    @media (max-width: $screen-xs-max) {
      right: 8px;
    }
  }

}

$button-bg: rgba(0, 0, 0, 0.05);

// Taken from http://codepen.io/artlantis/pen/djzLb
.form-radio-wrapper {
  input[type='radio'],
  input[type='checkbox']{
    display:none;
    cursor:pointer; //make the cursor a pointer when over the items
    & + label {
      cursor: pointer;
      display: inline-block;
      position: relative;
      padding-left: 25px;
      margin-right: 10px;
      &:before,
      &:after {
        content: '';
        font-family: helvetica;
        display: inline-block;
        width: 21px;
        height: 20px;
        left: 0;
        bottom: 0;
        text-align: center;
        position: absolute;
      }
      &:before{
        background-color: $button-bg;
        border: 1px solid darken($button-bg, 40%);
        @include transition(all .3s ease-in-out);
      }
      &:after{
        color: $brand-body-bg;
      }
    }
    &:checked + label:before{
      border: 1px solid $brand-secondary;
      @include box-shadow(inset 0 0 0 10px $brand-body-bg);
    }
  }

  /*Radio Specific styles*/
  input[type='radio']{
    & + label:before{
      border-radius: 50%;
    }
    & + label:hover:after,
    &:checked + label:after{
      content: '\2022';
      position: absolute;
      top: 3px;
      font-size: 28px;
      line-height: 14px;
    }
     & + label:hover:after{
      color: darken($button-bg, 20%);
    }
     &:checked + label:after,
     &:checked + label:hover:after{
      color: $brand-secondary-cta;
    }
  }

  /*Checkbox Specific styles*/
  input[type='checkbox']{
     & + label:before{
      border-radius: $brand-border-radius;
    }

    & + label:hover:after,
    &:checked + label:after{
      content: "\2713";
      line-height: 20px;
      font-size: 14px;
    }
    & + label:hover:after{
      color:darken($button-bg, 20%);
    }
    &:checked + label:after,
    &:checked + label:hover:after{
      color: $brand-secondary;
    }
  }

  /*Toggle Specific styles*/
  input[type='checkbox']{
   &.toggle{
      display: inline-block;
      appearance: none;
      width: 55px;
      height: 28px;
      background-color: $button-bg;
      position: relative;
      border-radius: 30px;
      box-shadow: none;
      transition: all .2s ease-in-out;
      &:hover:after{
       background-color: darken($button-bg, 20%);
      }
      &:after{
        content: '';
        display: inline-block;
        position: absolute;
        width: 24px;
        height: 24px;
        background-color: darken($button-bg, 30%);
        top: 2px;
        left: 2px;
        border-radius: 50%;
        transition: all .2s ease-in-out;
      }
    }
    &:checked.toggle{
      @include box-shadow(inset 0 0 0 15px $brand-secondary-cta);
      &:after{
        left: 29px;
        background-color:#fff;
      }
    }
  }
}

.form-field-description {
  color: $gray-lighter;
  display: block;
  padding-left: $padding-large-horizontal;

  &::before {
    position: absolute;
    left: $padding-base-horizontal;
    box-sizing: border-box;

    font-family: 'ak-icons';
    content: "\ea0c";
    font-size: 18px;
    pointer-events: none;
    text-align: center;
  }
}

.form-row {
  margin-top: $padding-large-vertical;
  margin-bottom: $padding-large-vertical;

  @media (min-width: $screen-sm-min) {
    margin-left: $padding-large-vertical;
    margin-right: $padding-large-vertical;
  }
}

.form-btn-cta {
  margin-top: 16px;
  @include button(#fff, $brand-primary-cta);
  font-weight: 400;
}
