<div class=" [ col-xs-12 col-sm-4 col-md-3 ] inbox-container">
  <div *ngFor="let conversation of conversations; let i = index;"
      class="inbox-overview"
      [ngClass]="{'not-read': !conversation.is_read && i!==0, 'active': conversation.id === openConversation.id }"
      (click)="changeConversation($event, conversation)">
   <span class="inbox-overview__icon" [ngClass]="conversation.is_read ? 'ak-icon-msg-read' : 'ak-icon-msg-unread'"></span>
   <div class="inbox-overview__header">
      <div  class="inbox-overview__header-icon ak-icon-user"> <!-- todo change this to real icons  -->
      </div>
      <div class="inbox-overview__header-title">
        <div class="inbox-overview__header-title__name">{{conversation.name_to_show}}</div>
        <div class="inbox-overview__header-title__date">{{conversation.sent_date}}</div>
      </div>
    </div>

    <div class="inbox-overview__content">{{conversation.content}}</div>

    <div class="inbox-overview__footer">
      <a class="inbox-overview__footer-link ak-icon-delete" (click)="confirmDelete($event, conversation)"></a>
    </div>
  </div>
</div>


<div class="[ col-xs-12 col-sm-8 col-md-9 ] inbox-thread">
  <div class="inbox-thread__message left send-msg">
    <div  class="inbox-thread__message-icon ak-icon-user"> <!-- todo change this to real icons  -->
    </div>
    <div class="inbox-thread__message-content">
      <div class="inbox-thread__message-content__body">
        <textarea class="inbox-thread__message-content__body__text" rows="3" [(ngModel)] ="messageText"></textarea>
      </div>
      <div class="inbox-thread__message-content__send">
        <button class="inbox-thread__message-content__send__button" (click)="sendMessage()">
          Send Message
        </button>
      </div>
    </div>
  </div>

  <div *ngFor="let message of messagesInConversation" class="inbox-thread__message" [ngClass]="userId===message.sender.id ? 'left' : 'right'">
      <div  class="inbox-thread__message-icon ak-icon-user"> <!-- todo change this to real icons  -->
      </div>

      <div class="inbox-thread__message-content">
        <div class="inbox-thread__message-content__body">
          <div>{{message.content}}</div>
          <div class="inbox-thread__message-content__body__date">{{message.sent_date}}</div>
        </div>
       <!--  <div class="inbox-thread__message-content__footer">
          {{message.sent_date}}
        </div> -->
      </div>
  </div>

</div>
