<ak-messaging ref="inbox">
</ak-messaging>

<!-- EMPTY -->
<div *ngIf="loaded && !conversations?.length">
  <div class="card-empty">
    <div class="ak-icon-mail card-empty__image"></div>
    <div class="card-empty__text">
      <div class="card-empty__text--line-one">You have no messages at the moment!</div>
      <div class="card-empty__text--line-two">Why not browse our vendors?</div>
    </div>
    <div class="card-empty__action">
       <button class="hero__browse-button" [routerLink]="['/search-results']">
        Browse now<span class="[ hidden-xs ]"> and start planning</span>
      </button>
    </div>
  </div>
</div>
<!-- / EMPTY -->

<div *ngIf="conversations?.length">

  <!-- SIDE BAR -->
  <div *ngIf="!isPhone || (isPhone && !showThread)" class="inbox-container [ col-xs-12 col-sm-4 col-md-3 ]">
    <div *ngFor="let conversation of conversations; let i = index;"
        class="inbox-overview"
        [ngClass]="{'not-read': !conversation.is_read && i!==0, 'active': conversation.id === openConversation?.id }"
        (click)="changeConversation($event, conversation)">
     <span class="inbox-overview__icon" [ngClass]="conversation.is_read ? 'ak-icon-msg-read' : 'ak-icon-msg-unread'"></span>
     <div class="inbox-overview__header">
        <div *ngIf="!conversation.image_path" class="inbox-overview__header-icon ak-icon-user"></div>
        <img *ngIf="conversation.image_path" class="inbox-overview__header-icon" [src]="serverUrl + conversation.image_path">

        <div class="inbox-overview__header-title">
          <div class="inbox-overview__header-title__name">{{conversation.message_title}}</div>
          <div class="inbox-overview__header-title__date">{{conversation.sent_date}}</div>
        </div>
      </div>

      <div class="inbox-overview__content">{{conversation.content}}</div>

      <div class="inbox-overview__footer">
        <a class="inbox-overview__footer-link ak-icon-delete" (click)="confirmDelete($event, conversation)"></a>
      </div>
    </div>
  </div>
  <!-- / SIDE BAR -->

  <!-- MAIN CONTENT -->
  <div class="inbox-messages [ col-xs-12 col-sm-8 col-md-9 ]">
    <ak-inbox-thread [hidden]="isPhone && !showThread" [conversation]="openConversation">
    </ak-inbox-thread>
  </div>
  <!-- / MAIN CONTENT -->

</div>
