@import '../../../scss/core/variables';

.confirm-dialog {
  min-height: 80px;

  &__buttons {
    position: absolute;
    right: 0;
    bottom: -30px;

     @media (min-width: $screen-sm-min) {
        right: -35px;
      }
  }

  .btn-negative.smaller, .btn-primary-cta.smaller {
    padding: 4px 14px;
  }

  .btn-primary-cta.smaller {
    margin-left: 10px;
  }
}
