@import '../../../../scss/core/settings';
@import '../../../../scss/core/variables';

.filter-component {
  padding-bottom: 20px;

  .filter-button {

    &.button-list {
      margin-right: 5px;
    }

    &.rating {
      display: block;
      float: left;
      color: $brand-secondary;
      border-radius: 0;

      &:not(:first-child) {
        border-left: none;
      }

      &:first-child {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }

      &:last-child {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }

      &.selected {
        color: $brand-body-bg;
      }
    }
  }

  &__title {
    font-weight: 400;
    color: $brand-secondary;
    padding-bottom: 5px;

    &__icon {
      padding-right: 5px;
      font-size: $font-size-base;
    }
  }
}


