<div class="listings-images">

  <section>
    <label class="form-label">Cover Image</label>
    <div class="hero"
      [ngStyle]="{'background-image': 'url(' +  serverUrl + editingVendor.cover_photo_path + ')'}">
      <div class="hero__overlay">&nbsp;</div>
    </div>

    <div class="form-row [ row ]">
      <ak-messaging ref="listings-details-cover"></ak-messaging>
      <div class="[ col-sm-6 col-xs-12 ]">
        <div class="form-input form-input--has-icon sign-up-field">
          <div class="form-icon ak-icon-image"></div>
          <input type="file"
            accept="image/jpeg, image/png"
            id="businessCoverImage"
            (change)="onChangeCover($event)">
        </div>
      </div>
    </div>
    <div class="form-row [ row ]">
      <button class="image-upload-btn" (click)="onClickUploadCover()">
        Upload
      </button>
    </div>
    <!-- / Cover Image -->
  </section>

  <hr />

  <section>
    <label class="form-label">Business Logo</label>
    <div class="business-logo">
      <img class="business-logo__image"
        *ngIf="editingVendor.logo_path"
        [src]="serverUrl + editingVendor.logo_path">
      <span class="business-logo__icon ak-icon-user"
        *ngIf="!editingVendor.logo_path">
      </span>
    </div>

    <div class="form-row [ row ]">
      <ak-messaging ref="listings-details-logo"></ak-messaging>
      <div class="[ col-sm-6 col-xs-12 ]">
        <div class="form-input form-input--has-icon sign-up-field">
          <div class="form-icon ak-icon-camera"></div>
          <input type="file"
            accept="image/jpeg, image/png"
            id="businessLogo"
            (change)="onChangeLogo($event)">
        </div>
      </div>
      <div class="[ col-sm-6 col-xs-12 hidden-xs ]">
        <div class="form-field-description">
          Square images work best. We recommend 250 x 250 pixels.
          jpg, jpeg or png file formats accepted.
        </div>
      </div>
    </div>
    <div class="form-row [ row ]">
      <button class="image-upload-btn" (click)="onClickUploadLogo()">
        Upload
      </button>
    </div>
  </section>

  <hr />

  <section>
    <label class="form-label">Additional Images</label>
    <div class="form-row additional-images [ row ]" *ngFor="let image of editingVendor.images">
      <img class="additional-images__image"
        [src]="serverUrl + image">
    </div>
    <div class="form-row [ row ]">
      <ak-messaging ref="listings-details-images"></ak-messaging>
      <div class="[ col-sm-6 col-xs-12 ]">
        <div class="form-input form-input--has-icon sign-up-field">
          <div class="form-icon ak-icon-images"></div>
          <input type="file"
            accept="image/jpeg, image/png"
            multiple
            (change)="onChangeImages($event)">
        </div>
      </div>
    </div>
    <div class="form-row [ row ]">
      <button class="image-upload-btn" (click)="onClickUploadImages()">
        Upload
      </button>
    </div>
  </section>

</div>
