@import '../../../../../scss/core/variables';
@import '../../../../../scss/core/settings';
@import '../../../../../scss/mixins/buttons';

$logo-size:         220px;
$logo-size-phone:   140px;
$hero-height:       300px;
$max-image-height:  300px;
$max-image-width:   450px;


.listings-images {
  width: 100%;
  padding: $padding-large-vertical $padding-large-horizontal;

  // override
  .col-sm-6, .col-xs-12 {
    padding-left: 0;
    padding-right: 0;
  }

  // override
  .form-field-description {
    padding-left: 32px;
  }
}



.hero {
  background: #EAF7FC;
  text-align: center;
  background: $gray;
  background-position: center center;
  background-size: cover;
  min-height: $hero-height;

  &__overlay {
    background: $brand-overlay-pattern;
    padding: $padding-xlarge-vertical 0;
    width: 100%;
    height: 100%;
    min-height: $hero-height;
  }
}



.business-logo {
  width: $logo-size;
  height: $logo-size;
  background: $gray;
  border-radius: 100%;

  @media (max-width: $screen-xs-max) {
    width: $logo-size-phone;
    height: $logo-size-phone;
    top: $logo-size-phone / 1.5;
  }

  &__image {
    width: $logo-size;
    height: $logo-size;
    border-radius: 100%;

    @media (max-width: $screen-xs-max) {
      width: $logo-size-phone;
      height: $logo-size-phone;
      top: $logo-size-phone / 1.5;
    }
  }

  &__icon {
    color: #fff;
    position: relative;
    top: 50px;
    left: 60px;
    font-size: 100px;

    @media (max-width: $screen-xs-max) {
      top: 10px;
      left: 20px;
    }
  }
}



.additional-images {

  &__image {
    max-height: $max-image-height;
    max-width: $max-image-width;
  }
}



.image-upload-btn {
  top: $padding-large-vertical;
  right: $padding-large-horizontal;
  @include button(#fff, $brand-primary-cta);
  padding: 6px 12px;
}
