<div class= "[ container ]">
  <div class="[ row ] markets">
    <div class="[ col-xs-12 ]">

<!-- TODO: ADD MARKET BUTTON -->
      <!-- EMPTY -->
      <div *ngIf="loaded && !markets?.length">
      <div *ngIf="loaded && markets.length > 0">
        <div class="card-empty">
          <div class="ak-icon-spoon-knife card-empty__image"></div>
          <div class="card-empty__text">
            <div class="card-empty__text--line-one">We currently don't have any markets!</div>
            <div class="card-empty__text--line-two">Why not browse our vendors?</div>
          </div>
          <div class="card-empty__action">
             <button class="hero__browse-button" [routerLink]="['/search-results']">
              Browse now<span class="[ hidden-xs ]"> and start planning</span>
            </button>
          </div>
        </div>
      </div>
      <!-- / EMPTY -->

      <div *ngIf="markets?.length">
        <div *ngFor="let market of markets | paginate: { itemsPerPage: 15, currentPage: p }" class="card market-card">
          <ak-market-card [action]="SEND_MSG_ACTION" [market]="market" [vendors]="vendors"></ak-market-card>
        </div>
      </div>
    </div>
  </div>

  <div class="[ row ] pagination">
    <pagination-controls (pageChange)="p = $event"
                          autoHide="true"
                          previousLabel="<"
                          nextLabel=">">
    </pagination-controls>
  </div>
</div>
