<div class= "[ container ]">
  <div class="[ row ] markets">
    <div class="[ col-xs-12 ]">

      <!-- ADD MARKET BUTTON -->
      <div *ngIf="isLoggedIn" class="markets-add">
        <span>
          If you are an organiser of the market, add your market <a [routerLink]="['/markets/create-market']">here</a>.
        </span>
      </div>
      <!-- END ADD MARKET -->

      <!-- EMPTY -->
      <div *ngIf="loaded && !markets?.length">
        <div class="card-empty">
          <div class="ak-icon-spoon-knife card-empty__image"></div>
          <div class="card-empty__text">
            <div class="card-empty__text--line-one">We currently don't have any markets!</div>
            <div class="card-empty__text--line-two">Why not browse our vendors?</div>
          </div>
          <div class="card-empty__action">
             <button class="hero__browse-button" [routerLink]="['/search-results']">
              Browse now<span class="[ hidden-xs ]"> and start planning</span>
            </button>
          </div>
        </div>
      </div>
      <!-- / EMPTY -->

      <div *ngIf="markets?.length">
        <div *ngFor="let market of markets | paginate: { itemsPerPage: 10, currentPage: p }" class="card market-card">
          <ak-market-card [action]="SEND_MSG_ACTION" [market]="market" [vendors]="vendors"></ak-market-card>
        </div>
      </div>
    </div>
  </div>

  <div class="[ row ] pagination"> <!--    (pageChange)="p = $event"-->
    <pagination-controls  (pageChange)="p = $event; pageChanged()"
                          autoHide="true"
                          previousLabel="<"
                          nextLabel=">">
    </pagination-controls>
  </div>
</div>
