@import '../../scss/core/variables';
@import '../../scss/core/settings';
@import '../../scss/mixins/buttons';

.markets {
  padding-bottom: 20px;
  padding-top: 20px;

  @media (min-width: $screen-sm-min) {
    padding-top: $brand-header-padding;
    padding-bottom: $brand-header-padding;
  }

  &-add {
    margin-bottom: 20px;
  }

  @media (min-width: $screen-sm-min) {
    padding-top: $brand-header-padding;
    padding-bottom: $brand-header-padding;
  }
}



.market-card {
  margin-bottom: 30px;
  overflow: hidden;
  padding: 20px;
}



.markets-add {
  font-size: $font-size-small;
}
