<form [formGroup]="stepFourForm" (ngSubmit)="submitForm(stepFourForm.value)">

  <!-- Menu Item -->
  <div class="form-row [ row ]" *ngFor="let item of stepFourForm.controls; let i=index">
    <div class="[ col-sm-8 col-xs-12 ]">

      <fieldset [formGroupName]="i">
        <legend *ngIf="itemType == 'Menu'">Menu Item</legend>
        <legend *ngIf="itemType == 'Product'">Product</legend>
        <legend *ngIf="itemType == 'Item'">Item</legend>
        <label class="form-label">Title</label>
        <div class="form-input form-input--has-icon sign-up-field">
          <div class="form-icon ak-icon-clipboard"></div>
          <input type="text"
            maxlength="100"
            placeholder="e.g. {{ itemTitleExample }}"
            formControlName="item_title"
            class="item_title">
        </div>
        <ak-form-messages class="error-message" [control]="stepFourForm.controls[i].controls.item_title">
        </ak-form-messages>

        <label class="form-label">Description (max 300 characters)</label>
        <div class="form-input form-input--has-icon sign-up-field">
          <div class="form-icon ak-icon-pencil"></div>
          <textarea
            rows="2"
            maxlength="200"
            placeholder="e.g. {{ itemDescriptionExample }}"
            formControlName="item_description"
            class="item_description"></textarea>
        </div>
      </fieldset>

    </div>

    <!-- Only show this message on first row -->
    <div *ngIf="i == 0" class="[ col-sm-4 col-xs-12 hidden-xs ]">
      <div class="form-field-description">
        Don't worry if you don't have this information to hand - you can always add it later
      </div>
    </div>
    <!-- / Only show this message on first row -->
  </div>
  <!-- / Menu Item -->

  <!-- Add Menu Item -->
  <div class="form-row [ row ]">
    <div class="[ text-right col-sm-8 col-xs-12 ]">

      <a class="form-btn-add-item" (click)="onClickAddItem()">
        <span class="ak-icon-plus"></span>
        Add Menu Item
      </a>

    </div>
  </div>
  <!-- / Add Menu Item -->

  <!-- Mandatory Fields -->
  <div class="form-row [ row ]">
    <div class="[ col-xs-12 ]">
      <span class="form-mandatory">* denotes mandatory field</span>
    </div>
  </div>
  <!-- / Mandatory Fields -->

  <!-- Form Buttons -->
  <div class="form-row [ row ]">
    <div class="[ col-xs-12 text-right ]">
      <button class="form-btn-cta" (click)="previousStep()">Previous step</button>
      <button type="submit" class="form-btn-cta">Next step</button>
    </div>
  </div>
  <!-- / Form Buttons -->

</form>
