@import '../../../scss/core/variables';

$padding: 10px;

.search-active-filter {

   @media (max-width: $screen-xs-max) {
      padding-top: $padding;
      padding-bottom: $padding;
    }

  .filter-button.active-filter {
    border: none;
    background-color: $gray-lightest;
    margin-right: 5px;

    &:hover {
       background-color: $gray-lighter;
    }

    .rating {
      color: $brand-secondary
    }
  }
}
