<div class="[ container ]">

  <div class="[ col-xs-12 ]">

    <h2>About FoodFest</h2>

    <p>FoodFest makes it easy to book the best food trucks, caters and catering suppliers for any event, across the country. Whether it’s daily lunches for your staff, a birthday party, a wedding, a charity race or a large corporate event, we make it simple to find great catering and suppliers for your events.</p>

    <h3>How does foodFest work?</h3>
    <p>Securing great food for your office or for an event should be easy and that’s where we come in. Simply create an account, and start browsing. It really is that simple. Spot a vendor you like? Simply contact them on our enquiry manager software to arrange a booking. </p>

    <h3>What are the benefits of a user account?</h3>
    <p>Organise events often? Heart your preferred vendors and build a list of trusted contacts.</p>
    <p><em>Coming Soon:</em> Post your own tenders - list your event details, any particular requirements and restrictions you have and let our vendors bid for the contract through our enquiry manager software.</p>

    <h3>We're still baking this cake…</h3>
    <p>If you have any suggestions or have any questions not answered here, please give us a shout <a [routerLink]="['/help']">here</a>.</p>

  </div>

</div>
