<div class="[ container ]">

  <div class="[ col-xs-12 ]">

    <h2>About FoodFest</h2>

    <p>FoodFest makes it easy to book the best food trucks for any event, across the country. Whether it’s daily lunches for your staff, a birthday party, a wedding, a 5k race or a large corporate event, we make it simple to feed people great food.</p>

    <h3>How Does FoodFest Work?</h3>
    <p>Securing great food for your office or for an event should be easy and that’s where we come in. Simply create an account, and start browsing. It really is that simple. Spot a vendor you like? Simply contact them on our enquiry manager software to arrange a booking. Organise events often? Heart your preferred vendors and build a list of trusted contacts.</p>

    <h3>Meal in Progress…</h3>
    <p>If you have any suggestions or have any questions not answered here, please drop us a line <a [routerLink]="['/help']">here</a>.</p>

  </div>

</div>
