<div class="listings-description">

  <form [formGroup]="listingsMetaForm" (ngSubmit)="submitForm(listingsMetaForm.value)">

    <!-- Date Registered -->
    <div class="form-row [ row ]">
      <div class="[ col-xs-12 ]">
        <label class="form-label">Date Registered</label>
        <div class="sign-up-field sign-up-field--no-edit">
          {{ editingVendor.date_registered | date: 'dd/MM/yyyy' }}
        </div>
        <ak-form-messages [control]="listingsMetaForm.controls.businessDescription">
        </ak-form-messages>
      </div>
    </div>
    <!-- / Date Registered -->

    <!-- SUBSCRIPTION INFO -->
    <div *ngIf="editingVendor.subscription">

      <!-- Plan Name -->
      <div class="form-row [ row ]">
        <div class="[ col-xs-12 ]">
          <label class="form-label">Plan Type</label>
          <div class="sign-up-field sign-up-field--no-edit">
            {{ editingVendor.subscription.plan_name }}
          </div>
          <ak-form-messages [control]="listingsMetaForm.controls.businessDescription">
          </ak-form-messages>
        </div>
      </div>
      <!-- / Plan Name -->

      <!-- Payment Amount -->
      <div class="form-row [ row ]">
        <div class="[ col-xs-12 ]">
          <label class="form-label">Payment Amount</label>
          <div class="sign-up-field sign-up-field--no-edit">
            {{ editingVendor.subscription.monthly_amount }}
          </div>
          <ak-form-messages [control]="listingsMetaForm.controls.businessDescription">
          </ak-form-messages>
        </div>
      </div>
      <!-- / Payment Amount -->

    </div>
    <!-- / SUBSCRIPTION INFO -->

    <!-- Form Buttons -->
    <div class="form-row [ row ]">
      <div class="[ col-xs-12 text-right ]">
        <button type="submit" class="form-btn-cta">Save updates</button>
      </div>
    </div>
    <!-- / Form Buttons -->

  </form>

</div>
