<div class="listings-description">

  <!-- Listing Status -->
  <div class="form-row [ row ]">
    <div class="[ col-xs-12 ]">
      <label class="form-label">Listing Status</label>
      <div class="sign-up-field">
        <span *ngIf="editingVendor.active_vendor == 1"
          class="listing-status listing-status--active">
            Published
        </span>
        <span *ngIf="editingVendor.active_vendor == 0"
          class="listing-status listing-status--inactive">
            Unpublished
        </span>
      </div>
    </div>
  </div>
  <!-- / Listing Status -->

  <!-- Date Registered -->
  <div class="form-row [ row ]">
    <div class="[ col-xs-12 ]">
      <label class="form-label">Date Registered</label>
      <div class="sign-up-field sign-up-field--no-edit">
        {{ editingVendor.date_registered | date: 'dd/MM/yyyy' }}
      </div>
    </div>
  </div>
  <!-- / Date Registered -->

  <!-- SUBSCRIPTION INFO -->
  <div *ngIf="editingVendor.subscription">

    <!-- Plan Name -->
    <div class="form-row [ row ]">
      <div class="[ col-xs-12 ]">
        <label class="form-label">Plan Type</label>
        <div class="sign-up-field sign-up-field--no-edit">
          {{ editingVendor.subscription.plan_name }}
        </div>
      </div>
    </div>
    <!-- / Plan Name -->

    <!-- Payment Amount -->
    <div class="form-row [ row ]">
      <div class="[ col-xs-12 ]">
        <label class="form-label">Subscription Fee</label>
        <div class="sign-up-field sign-up-field--no-edit">
          &euro;{{ totalAmount }}<br />
          <span *ngIf="editingVendor.subscription.plan_name != 'monthly'">
            (&euro;{{ editingVendor.subscription.monthly_amount }} per month)
          </span>
        </div>
      </div>
    </div>
    <!-- / Payment Amount -->

  </div>
  <!-- / SUBSCRIPTION INFO -->

  <!-- Form Buttons -->
  <div class="form-row [ row ]" *ngIf="editingVendor.active_vendor == 0">
    <div class="[ col-xs-12 text-right ]">
      <button class="form-btn-cta" (click)="onClickPublishListing()">Publish Listing</button>
    </div>
  </div>
  <!-- / Form Buttons -->

</div>
