<!-- Header -->
<ak-navbar></ak-navbar>
<!-- / Header -->

<modal></modal>

<!-- Main Page Content -->
<div class="page-body">
  <ak-messaging ref="global"></ak-messaging>
  <router-outlet></router-outlet>
</div>
<!-- / Main Page Content -->

<ak-cookies-notification [display]="displayCookies">
</ak-cookies-notification>

<!-- Footer -->
<div class="footer">
  <div class="[ container ]">

    <div class="[ row ]">
      <div class="footer__links [ col-xs-12 text-center ]">
        <a class="footer__link" [routerLink]="['/privacy']">
          Privacy &amp; Cookies
        </a>|
        <a class="footer__link" [routerLink]="['/privacy']">
          Terms of Use
        </a>|
        <a class="footer__link" [routerLink]="['/about']">
          About FoodFest
        </a>|
        <a class="footer__link" [routerLink]="['/list-with-us']">
          List With Us
        </a>|
        <a class="footer__link" [routerLink]="['/help']">
          Help &amp; Contact
        </a>
      </div>
    </div>

    <div class="[ row ]">
      <div class="footer__logo [ col-xs-12 text-center ]">
        <a [routerLink]="['/']">
          <img src="assets/img/logo-mono.png" />
        </a>
      </div>
    </div>

    <div class="footer__social-links [ row ]">
      <div class="footer__meta footer__social-links [ col-xs-12 col-sm-4 text-left is-table-row ]">
        <a href="https://www.facebook.com/foodfestie/" target="_blank" class="footer__social-link">
          <object data="assets/icons/svg/facebook-icon.svg" type="image/svg+xml">
            <img src="assets/icons/img/facebook-icon.png" />
          </object>
        </a>
        <a href="https://twitter.com/foodfestie" target="_blank" class="footer__social-link">
          <object data="assets/icons/svg/twitter-icon.svg" type="image/svg+xml">
            <img src="assets/icons/img/twitter-icon.png" />
          </object>
        </a>
        <a href="https://www.instagram.com/foodfestie/" target="_blank" class="footer__social-link">
          <object data="assets/icons/svg/instagram-icon.svg" type="image/svg+xml">
            <img src="assets/icons/img/instagram-icon.png" />
          </object>
        </a>
      </div>
      <div class="footer__meta footer__disclaimer [ col-xs-12 col-sm-4 text-center is-table-row ]">
        &copy; Copyright 2017 All Rights Reserved
      </div>
      <div class="footer__meta [ col-xs-12 col-sm-4 text-right is-table-row ]">
      </div>
    </div>

  </div>
</div>
<!-- / Footer -->
