$brand-primary:					  #1f2532;
$brand-secondary:				  #28ACC1;

$brand-primary-cta:				#ff8da1;
$brand-secondary-cta:			#F6CAC9;

$brand-body-bg:					  #fff;
$brand-body-bg-alt:       #f0f0f0;

$brand-links:             #ff8da1;

$brand-border-radius:			3px;
$brand-border-color:      #ccc;

$body-text-color:         #333;

$brand-header-padding:    40px;

$brand-overlay-pattern:   url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQYV2NkYGD4z8DAwMgABXAGNgGwSgwVAFbmAgXQdISfAAAAAElFTkSuQmCC) repeat;
