<div class="[ col-xs-12 col-sm-8 col-md-9 ] inbox-thread">
  <div class="inbox-thread__message left send-msg">
    <div  class="inbox-thread__message-icon ak-icon-user"> <!-- todo change this to real icons  -->
    </div>
    <div class="inbox-thread__message-content">
      <div class="inbox-thread__message-content__body">
        <textarea class="inbox-thread__message-content__body__text" rows="3" [(ngModel)] ="messageText"></textarea>
      </div>
      <div class="inbox-thread__message-content__send">
        <button class="inbox-thread__message-content__send__button" (click)="sendMessage()">
          Send Message
        </button>
      </div>
    </div>
  </div>

  <div *ngFor="let message of messages" class="inbox-thread__message" [ngClass]="userId===message.sender.id ? 'left' : 'right'">
      <div  class="inbox-thread__message-icon ak-icon-user"> <!-- todo change this to real icons  -->
      </div>

      <div class="inbox-thread__message-content">
        <div class="inbox-thread__message-content__body">
          <div>{{message.content}}</div>
          <div class="inbox-thread__message-content__body__date">{{message.sent_date}}</div>
        </div>
      </div>
  </div>
</div>
