<div class="inbox-thread">
  <ak-messaging ref="inbox-thread">
  </ak-messaging>

  <div class="inbox-thread__message left send-msg">
    <div *ngIf="!isUserVendorInConversation()" class="inbox-thread__message-icon ak-icon-user"></div>
    <img *ngIf="isUserVendorInConversation()" class="inbox-thread__message-icon" [src]="serverUrl + conversation.vendor.logo_path">
    <div class="inbox-thread__message-content">
      <div class="inbox-thread__message-content__body">
        <textarea class="inbox-thread__message-content__body__text" rows="3" [(ngModel)] ="messageText"></textarea>
      </div>
      <div class="inbox-thread__message-content__send">
        <button class="hero__browse-button slim" (click)="sendMessage()">
          Send Message
        </button>
      </div>
    </div>
  </div>

  <div *ngFor="let message of messages" class="inbox-thread__message" [ngClass]="userId===message.sender.id ? 'left' : 'right'">
      <div *ngIf="!message.image_path_to_show" class="inbox-thread__message-icon ak-icon-user"></div>
      <img *ngIf="message.image_path_to_show" class="inbox-thread__message-icon" [src]="serverUrl + message.image_path_to_show">

      <div class="inbox-thread__message-content">
        <div class="inbox-thread__message-content__body">
          <div>{{message.content}}</div>
          <div class="inbox-thread__message-content__body__date">{{message.sent_date}}</div>
        </div>
      </div>
  </div>
</div>
